<template>
  <div class="A4">
    <div class="row header" ref="headerRef">
      <div class="col-7">
        <div class="text-color text-3x1">
          <template v-if="empData.personalDetails.firstname !== ''">
            {{ empData.personalDetails.firstname }} <span> </span>
          </template>
          <template v-else> First Name </template>
          <template v-if="empData.personalDetails.lastname !== ''">
            {{ empData.personalDetails.lastname }}
          </template>
          <template v-else> Last Name </template>
        </div>
        <div class="text-orange text-2x1">
          <span>{{ eduDetails }}</span>
        </div>
        <div class="text-color text-2x1">
          Total Exp.: {{ experience.totalExp }}
          <template v-if="experience.totalExp < 2"> Year </template>
          <template v-else> Years </template>
          {{ experience.totalMonth }}
          <template v-if="experience.totalMonth < 2"> Month </template>
          <template v-else> Months </template>
        </div>
        <div class="text-color text-2x1">
          Relevant Exp.: {{ experience.relExp }}
          <template v-if="experience.relExp < 2"> Year </template>
          <template v-else> Years </template>
          {{ experience.relMonth }}
          <template v-if="experience.relMonth < 2"> Month </template>
          <template v-else> Months </template>
        </div>
      </div>
      <div class="col-5">
        <img src="@/assets/testyantra-logo.png" alt="" />
      </div>
    </div>
    <div class="mx-4" v-if="showElements.showSummary">
      <div class="heading my-4 bg-color bg-color">
        <h6 class="pl-1 font-semibold">Summary</h6>
      </div>
      <div>
        <ul>
          <li v-for="ele in summaryList" :key="ele">{{ ele }}</li>
        </ul>
      </div>
    </div>
    <div class="mx-4">
      <div class="heading my-4 bg-color">
        <h6 class="pl-1 font-semibold">Technical Skills</h6>
      </div>
      <div
        class="skill"
        v-for="(item, index) in employeeData.technologyDetails.skills"
        :key="item.type"
      >
        <template
          v-if="
            (showElements.showLanguages && index === 0) ||
            (showElements.showFrameworks && index === 1) ||
            (showElements.showRDBMS && index === 2) ||
            (showElements.showOthers && index === 3)
          "
        >
          <div class="left-col">{{ item.type }}</div>
          <div class="right-col">
            <template v-for="ele in item.items" :key="ele.skillName">
              {{ ele.skillName }},
            </template>
          </div>
        </template>
      </div>
    </div>
    <div class="mx-4">
      <div v-if="showElements.showEducation">
        <div class="heading my-4 bg-color">
          <h6 class="pl-1 font-semibold">Education</h6>
        </div>
        <div class="mx-3">
          <table class="edu-table w-100">
            <tr>
              <th>College Name</th>
              <th>University</th>
              <th>Year</th>
              <th>Percentage</th>
            </tr>
            <tr
              v-for="(ele, index) in empData.educationDetails"
              :key="ele.educationalid"
            >
              <template v-if="showEduItems[index] || display.dispEdu">
                <td>{{ ele.insitution }}</td>
                <td>{{ university }}</td>
                <td>{{ ele.passoutyear }}</td>
                <td>{{ ele.percentage }}</td>
              </template>
            </tr>
          </table>
        </div>
      </div>
      <div class="heading my-4 bg-color" v-if="showElements.showAchievements">
        <h6 class="pl-1 font-semibold">Achievements</h6>
      </div>
      <div v-if="showElements.showAchievements">
        <ul>
          <li v-for="ach in empData.achievements" :key="ach.achievement_id">
            {{ ach.achievement_details }}
          </li>
        </ul>
      </div>
      <div>
        <div class="heading my-4 bg-color">
          <h6 class="pl-1 font-semibold">Certifications</h6>
        </div>
        <div class="mx-3">
          <table class="edu-table w-100">
            <tr>
              <th>Certificate Name</th>
              <th>Certified From</th>
              <th>Completed On</th>
            </tr>
            <tr
              v-for="(ele, index) in empData.certificateDetails"
              :key="ele.certficateName"
            >
              <template v-if="showCertItems[index] || display.dispCert">
                <td>{{ ele.certficateName }}</td>
                <td>{{ ele.certifiedFrom }}</td>
                <td>{{ ele.completion }}</td>
              </template>
            </tr>
          </table>
        </div>
      </div>
      <!-- <div class="html2pdf__page-break"></div> -->
      <div class="heading my-4 bg-color" v-if="showElements.showProject">
        <h6 class="pl-1 font-semibold">Project Details</h6>
      </div>
    </div>
    <div class="pb-5" v-if="showElements.showProject">
      <div
        class="my-3 px-5"
        v-for="(project, ind) in empData.projectDetails"
        :key="project.name"
      >
        <template v-if="projectItems[ind] || display.dispProject">
          <ol class="list-style">
            <li :value="ind + 1">
              <h3 class="project-headings pb-2">
                {{ project.name }}
              </h3>
            </li>
          </ol>
          <div>
            <table>
              <tbody>
                <tr v-for="tech in project.technology" :key="tech.type">
                  <td class="col-one">{{ tech.type }}</td>
                  <td class="col-two">
                    <template v-for="item in tech.items" :key="item">
                      {{ item }},
                    </template>
                  </td>
                </tr>
                <tr>
                  <td class="col-one">Summary</td>
                  <td class="col-two">{{ project.summary }}</td>
                </tr>
                <tr>
                  <td class="col-one">Roles</td>
                  <td class="col-two">{{ project.roles }}</td>
                </tr>
                <tr>
                  <td class="col-one">Duration</td>
                  <td class="col-two">
                    {{ project.projectStart }} to {{ project.projectEnd }}
                  </td>
                </tr>
                <tr>
                  <td class="col-one">Team Size</td>
                  <td class="col-two">{{ project.teamSize }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </template>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { employeeData } from "@/models/employeeData";
import { Vue } from "vue-class-component";
import { State } from "vuex-class";

export default class ResumeBody extends Vue {
  @State((state) => state.employeeData) employeeData;
  @State((state) => state.showElements) showElements;
  @State((state) => state.eduDetails) eduDetails;
  @State((state) => state.showEduItems) showEduItems;
  @State((state) => state.projectItems) projectItems;
  @State((state) => state.showCertItems) showCertItems;
  @State((state) => state.experience) experience;
  @State((state) => state.summaryList) summaryList;
  @State((state) => state.university) university;
  @State((state) => state.display) display;

  empData = employeeData;

  created(): void {
    if (!this.summaryList.includes(this.employeeData.personalDetails.summary)) {
      this.summaryList.push(this.employeeData.personalDetails.summary);
    }
  }
}
</script>
<style scoped>
* {
  word-break: break-all;
}

.resume-template {
  background-color: #e1e2e4a1;
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}
.text-color {
  color: rgb(31, 73, 125);
  word-break: break-all;
}
.text-orange {
  color: #ff8c00;
  word-break: break-all;
}
.text-2x1 {
  font-size: 1.25rem;
  font-weight: 700;
}
.text-3x1 {
  font-size: 1.625rem;
  font-weight: 700;
}
.heading {
  width: 100%;
  color: #ffffff;
  font-size: 16px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px 25px;
}
.font-semibold {
  font-weight: 600;
}
.skill {
  display: flex;
  margin: 8px 15px;
}
.left-col {
  width: 32%;
  background-color: grey;
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: 600;
  padding: 6px;
}
.right-col {
  width: 75%;
  padding: 0 10px;
  background-color: #9e9e9e54;
  display: flex;
  align-items: center;
}

table,
th,
td {
  border: 1px solid black;
  padding: 5px 10px;
}
table {
  table-layout: fixed;
}
.col-one {
  background: grey;
  color: #fff;
  width: 30%;
}
.col-two {
  background: #9e9e9e54;
  width: 296mm;
  word-break: break-all;
}
.project-headings {
  font-weight: 600;
  font-size: 16px;
}
.A4 {
  background: white;
  width: 21cm;
  height: auto !important;
  display: block;
  margin: 0 auto;
  padding: 0px 25px;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  font-size: 12pt;
}
table.edu-table th {
  background: grey;
  color: #fff;
}
.bg-color {
  background-color: rgb(31, 73, 125);
}
.list-style {
  list-style-type: upper-roman;
}
</style>