<template>
  <div>
    <div class="container">
      <div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Certification Name</th>
              <th scope="col">Certified From</th>
              <th scope="col">Year of Completion</th>
              <th>
                <h3 :style="getIconStyle">
                  <i
                    class="fas fa-plus-circle pointer"
                    @click="editClick(true, 'Add')"
                    title="Add Certifications"
                  ></i>
                </h3>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) in certificateDetails" :key="index">
              <th scope="row">{{ item.certification_name }}</th>
              <td>{{ item.institution_name }}</td>
              <td>{{ item.completion_year }}</td>
              <td>
                <i
                  class="far fa-edit mr-2 pointer text-primary"
                  @mousedown="setIndex = parseInt(index)"
                  @click="editClick(true, 'Update', item)"
                  title="Edit"
                ></i>
                <i
                  class="far fa-trash-alt pointer text-danger"
                  @click="deleteCertificationDetails(index, item)"
                  title="Delete"
                ></i>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="fw-bolder d-flex mt-5">Achievements</div>
        <div class="d-flex flex-row-reverse container w-75 h3">
          <i
            class="fas fa-plus-circle pointer"
            title="Add Achievements"
            @click="addAchievements"
          ></i>
        </div>

        <div
          class="w-75 container"
          v-for="(item, index) in achievements"
          :key="item.achievement_id"
        >
          <div class="w-100 container d-flex mt-4">
            <textarea
              type="text"
              class="form-control"
              placeholder="Achievements"
              :rows="3"
              v-model="item.achievement_details"
              :id="index"
              @blur="handleBlurandSave"
              readonly
            />
            <div class="d-flex flex-column ml-2">
              <i
                class="fas fa-save mb-2 pointer text-success"
                v-if="editabletextarea === index"
                @click="handleBlurandSave"
                title="Save"
              ></i>
              <i
                class="far fa-edit mb-2 pointer"
                :style="
                  editabletextarea !== index ? 'color: blue' : 'display:none'
                "
                @click="editAchievements(item)"
                title="Edit"
              ></i>
              <i
                class="far fa-trash-alt mb-2 pointer text-danger"
                @click="deleteAchievement(item)"
                title="Delete"
              ></i>
            </div>
          </div>
          <div class="d-flex error">
            <span v-if="errFlag && editabletextarea === index" class="errormsg"
              >Achievement cannot be empty</span
            >
          </div>
        </div>
      </div>
    </div>
    <CertificateEdit
      :style="getModalStyle"
      :btnValue="btnValue"
      :objectData="tableData"
      @emitCertificationsDetails="handleupdate"
      @closeModal="
        (value) => {
          editClick(value);
        }
      "
    />
  </div>
</template>
<script lang="ts">
import { Options, Vue } from "vue-class-component";
import CertificateEdit from "@/components/CertificateEdit.vue";
import { HTTP1 } from "@/http/http-common";
import { EventBus } from "@/event-bus";

@Options({
  components: {
    CertificateEdit,
  },
})
/* eslint-disable */
export default class Achievements extends Vue {
  certificateDetails: Array<Object> = [
    {
      certification_id: "",
      employee_id: "1",
      certification_name: "Python",
      institution_name: "abc",
      completion_year: "2018",
    },
  ];
  tableData = {};
  achievements = [
    {
      employee_id: "1",
      achievement_id: "1a",
      achievement_details: "ksjdbcsd cjskndc sdcsdcsdc",
    },
    {
      employee_id: "1",
      achievement_id: "1b",
      achievement_details: "jbjhbashbcyuasgytqw cjskndc sdcsdcsdc",
    },
  ];
  btnValue = "";
  modalOpen = false;
  editabletextarea = -1;
  setIndex = -1;
  objdata = this.achievements;
  updateField = false;
  operationType = "";
  editFlag = false;
  errFlag = false;
  addFlag = false;

  editClick(value: boolean, btnValue: string, item: any): void {
    this.modalOpen = value;
    this.btnValue = btnValue;
    if (value) {
      this.tableData = { ...item };
    } else {
      this.tableData = {};
    }
  }

  get getModalStyle(): Partial<CSSStyleDeclaration> {
    return {
      display: this.modalOpen ? "block" : "none",
    };
  }
  get getIconStyle(): Partial<CSSStyleDeclaration> {
    return {
      marginBottom: "-0.5rem",
    };
  }

  handleupdate(objectData: Object): void {
    if (this.setIndex === -1) {
      this.certificateDetails.push({ ...objectData });
      HTTP1.post(
        "addcertificationdetailsbyid?employeeid=tyss128",
        objectData
      ).then((response) => {
        if (!response.data.error) {
          this.certificateDetails.push({ ...objectData });
          EventBus.emit("setPopUp", {
            showPopUp: true,
            type: "success",
            message: "Saved Successfully",
          });
        }
      });
    } else {
      this.certificateDetails[this.setIndex] = { ...objectData };
      this.setIndex = -1;
      HTTP1.post(
        "updateexperiencedetailsbyid?employeeid=tyss501",
        objectData
      ).then((response) => {
        if (!response.data.error) {
          this.certificateDetails[this.setIndex] = { ...objectData };
          this.setIndex = -1;
          EventBus.emit("setPopUp", {
            showPopUp: true,
            type: "success",
            message: "Saved Successfully",
          });
        }
      });
    }
  }
  //delete date
  deleteCertificationDetails(index: any, item: any): void {
    this.certificateDetails = this.certificateDetails.filter(
      (item, ind) => ind !== index
    );
    HTTP1.delete("deletecertificatedetailsbyid?employeeid=tyss128", item).then(
      (response) => {
        if (!response.data.error) {
          EventBus.emit("setPopUp", {
            showPopUp: true,
            type: "success",
            message: "Deleted Successfully",
          });
        }
      }
    );
  }
  editAchievements(item: any): void {
    if (!this.editFlag) {
      const index = this.achievements.indexOf(item);
      this.editabletextarea = index;
      const element = document.getElementById(index.toString());
      element?.removeAttribute("readonly");
      element?.focus();
      this.operationType = "edit";
      this.editFlag = true;
    }
  }
  //add & update achivement data
  handleBlurandSave(event: Event) {
    if (this.editabletextarea !== -1 && this.validateTextField()) {
      (event?.target as HTMLTextAreaElement).setAttribute("readonly", "true");
      if (this.operationType === "add") {
        HTTP1.post(
          "addacheivementdetailsbyid?employeeid=tyss128",
          this.achievements[this.editabletextarea]
        ).then((response) => {
          if (!response.data.error) {
            EventBus.emit("setPopUp", {
              showPopUp: true,
              type: "success",
              message: "Saved Successfully",
            });
          }
        });
      } else if (this.operationType === "edit") {
        HTTP1.post(
          "updatecertificationdetailsbyid?employeeid=tyss128",
          this.achievements[this.editabletextarea]
        ).then((response) => {
          if (!response.data.error) {
            EventBus.emit("setPopUp", {
              showPopUp: true,
              type: "success",
              message: "Saved Successfully",
            });
          }
        });
      }
      this.editabletextarea = -1;
      this.editFlag = false;
    }
  }
  addAchievements() {
    if (!this.errFlag) {
      this.achievements.push({
        employee_id: "",
        achievement_id: "",
        achievement_details: "",
      });
      this.updateField = true;
      this.operationType = "add";
      this.addFlag = true;
    }
  }

  updated(): void {
    if (this.addFlag) {
      this.editAchievements(this.achievements[this.achievements.length -1]);
      this.addFlag = false
    }
  }

  validateTextField() {
    const index = this.editabletextarea;
    if (this.achievements[index].achievement_details !== "") {
      this.errFlag = false;
      return true;
    }
    this.errFlag = true;
    return false;
  }
  //get certification data
  async getCertificationDetails(): Promise<void> {
    const res = await HTTP1.get(
      "getallcertificationdetails?employeeid=tyss501"
    );
    const data = await res.data;
    this.certificateDetails = data.data;
  }
  //get achievements data
  async getAchievementsDetails(): Promise<void> {
    const res = await HTTP1.get(
      "getacheivementsdetailsbyid?employeeid=tyss121"
    );
    const data = await res.data;
    this.achievements = data.data;
  }

  mounted(): void {
    this.getCertificationDetails();
    this.getAchievementsDetails();
  }

  deleteAchievement(item: Object): void {
    this.achievements = this.achievements.filter((ele, ind) => ele !== item);
    HTTP1.delete("deleteachievementdetailsbyid?employeeid=tyss121", item).then(
      (response) => {
        if (!response.data.error) {
          EventBus.emit("setPopUp", {
            showPopUp: true,
            type: "success",
            message: "Deleted Successfully",
          });
        }
      }
    );
    this.editFlag = false
    this.errFlag = false
  }
}
</script>

<style >
textarea {
  resize: none;
  border: 1px solid black;
  border-radius: 8px;
  padding-left: 20px;
  width: 100%;
}
textarea:focus {
  outline: none;
}
textarea:read-only {
  background-color: white !important;
}
.errormsg {
  font-size: 10px;
  color: red;
}
.pointer {
  cursor: pointer;
}
.error {
  padding: 0px 15px;
}
</style>