<template>
  <div>
    <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Education</th>
            <th scope="col">Course</th>
            <th scope="col">Specialization</th>
            <th scope="col">Institution</th>
            <th scope="col">University</th>
            <th scope="col">Passing Year</th>
            <th scope="col">Percentage</th>
            <th><h3 :style="getIconStyle">
              <i class="fas fa-plus-circle iconStyle" @click="editClick(true, eductaionFrame)" title="Add"></i></h3>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="singleObj in educationalData"
            :key="singleObj.educationalid"
          >
            <th scope="row">{{ singleObj.qualification }}</th>
            <td>{{ singleObj.course }}</td>
            <td>{{ singleObj.specialization }}</td>
            <td>{{ singleObj.insitution }}</td>
            <td>{{ singleObj.passoutyear }}</td>
            <td>{{ singleObj.percentage }}</td>
            <td>
              <i
                class="far fa-edit editIconClass"
                title="Edit"
                @click="editClick(true, singleObj)"
              ></i
              ><i
                class="far fa-trash-alt deleteIconClass"
                title="Delete"
                @click="deleteClick(singleObj)"
              ></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <EducationalEdit
      @emitEducationalData="updateEducationalData"
      :style="getModalStyle"
      @closeModal="
        (value) => {
          modalOpen = value;
        }
      "
    />
  </div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import SubNavBar from "@/components/SubNavBar.vue";
import { qualification } from "@/models/Qualification";
import EducationalEdit from "./EducationalEdit.vue";
import { EventBus } from "@/event-bus";
import { HTTP1 } from "../http/http-common";

@Options({
  components: {
    SubNavBar,
    EducationalEdit,
  },
})
/*eslint-disable*/
export default class Educational extends Vue {
  on = false;
  modalOpen = false;
  formCount = 1;
  // eslint-disable-next-line @typescript-eslint/no-explicit-any
  eductaionFrame: any = {
    educationalid: "",
    qualification: "",
    course: "",
    specialization: "",
    insitution: "",
    university:"",
    passoutyear: "",
    percentage: "",
  };
  // eslint-disable-next-line @typescript-eslint/no-explicit-any
  educationalData: any = [];
  // eslint-disable-next-line @typescript-eslint/no-explicit-any
  errMsg: any = {
    qualification: "",
    course: "",
    specialization: "",
    insitution: "",
    university:"",
    passoutyear: "",
    percentage: "",
  };
  formValidate = {
    qualification: false,
    course: false,
    specialization: false,
    insitution: false,
    university:"",
    passoutyear: false,
    percentage: false,
  };
  setIndex = -1;

  qualificationData: Array<{ name: string; value: string }> = qualification;
  get qualificationStyle(): Partial<CSSStyleDeclaration> {
    return {
      width: "500px",
      height: "40px",
    };
  }
  updateCount(): void {
    this.formCount = this.formCount + 1;
  }

  // eslint-disable-next-line @typescript-eslint/explicit-module-boundary-types
  editClick(value: boolean, data: any): void {
    this.modalOpen = value;
    EventBus.emit("educationalData", data);
  }

  // eslint-disable-next-line @typescript-eslint/explicit-module-boundary-types
  deleteClick(data: any): void {
    for (let index = 0; index < this.educationalData.length; index++) {
      if (this.educationalData[index].educationalid === data.educationalid) {
        HTTP1.delete(
          "deleteeducationaldetailsbyid?employeeid=tyss131",
          (data = { data })
        ).then((response) => {
          const resp = response.data;
        });
        this.educationalData.splice(index, 1);
        break;
      }
    }
  }

   get getIconStyle(): Partial<CSSStyleDeclaration> {
    return {
      marginBottom:"-0.5rem",
    };
  }
  get getModalStyle(): Partial<CSSStyleDeclaration> {
    return {
      display: this.modalOpen ? "block" : "none",
    };
  }

  mounted(): void {
    this.getEducationalInfo();
  }

  async getEducationalInfo(): Promise<void> {
    const res = await HTTP1.get("geteducationaldetailsbyid?employeeid=tyss131");
    const data = await res.data;
    this.educationalData = data.data;
  }

  updateEducationalData(data: any): void {
    if (data.educationalid === "") {
      let addedData = {};
      HTTP1.post("addeducationaldetails?employeeid=tyss131", data).then(
        (response) => {
          (addedData = response.data.data)
          if (!response.data.error) {
            this.educationalData.push(addedData);
            EventBus.emit("setPopUp", {
              showPopUp: true,
              type: "success",
              message: "Saved Successfully",
            });
          }
        }
      );
    } else {
      for (let index = 0; index < this.educationalData.length; index++) {
        if (this.educationalData[index].educationalid === data.educationalid) {
          HTTP1.post(
            "updateeducationaldetailbyid?employeeid=tyss131",
            data
          ).then((response) => {
            if (!response.data.error) {
              this.educationalData[index] = data;
              EventBus.emit("setPopUp", {
                showPopUp: true,
                type: "success",
                message: "Saved Successfully",
              });
            }
          });
          break;
        }
      }
    }
  }
}
</script>

<style scoped>
.btn-style {
  background-color: rgb(80, 200, 120);
  color: white;
  float: right;
}
.education {
  margin: 10px;
}
select option {
  color: black;
}
select option[disabled]:first-child {
  color: #80808082;
}
/* Hidden placeholder */
select option[disabled]:first-child {
  display: none;
}
::placeholder {
  color: rgb(187, 186, 186);
}
input[type="number"] {
  -moz-appearance: textfield;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input {
  color: #496388 !important;
}
.addbtn {
  text-align: right;
  margin-right: 40px;
  margin-top: 23px;
}
.btntext {
  border: 1px solid rgb(197, 193, 193);
  border-radius: 4px;
  padding: 4px;
}
.active-btn {
  background-color: rgb(80, 200, 120);
}
.errormsg {
  font-size: 12px;
  color: red;
}

.iconStyle {
  cursor: pointer;
}

.editIconClass {
  color: blue; margin-right: 13px; cursor: pointer;
}

.deleteIconClass {
  color: red; cursor: pointer;
}
</style>
