<template>
  <div
    class="modal"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog-centered modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header border-0">
          <h5 class="modal-title titleStyle" id="exampleModalLabel">
            Experience
          </h5>
          <button
            type="button"
            class="close pointer"
            data-dismiss="modal"
            aria-label="Close"
            @click="closeModal()"
            title="Close"
          >
            <span aria-hidden="true" class="closeBtn">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div
            id="experience"
            class="container"
          >
            <form class="container form-container" >
              <div class="mb-3">
                <div id="designation" class="labelcontent divHeight">
                  <label for="">Designation</label>
                  <input
                    name="designation"
                    type="text"
                    class="form-control eidClass"
                    placeholder="Designation"
                    @input="filter"
                    v-model="objectData.designation"
                    @change="validateDesignation"
                  />
                  <span v-if="errMsg.designation" class="errormsg">{{
                    errMsg.designation
                  }}</span>
                </div>
                <div id="company" class="labelcontent divHeight">
                  <label for="">Company</label>
                  <input
                    name="company"
                    type="text"
                    class="form-control eidClass"
                    placeholder="Company"
                    v-model="objectData.company"
                    @change="validateCompany"
                  />
                  <span v-if="errMsg.company" class="errormsg">{{
                    errMsg.company
                  }}</span>
                </div>
                <div
                  class="grid-container"
                  :style="getGridcontainerStyle"
                >
                  <div>
                    <label class="">Working Since</label>
                    <div id="date" class="labelcontent mb-0">
                      <input
                        type="text"
                        class="form-control eidClass"
                        placeholder="Working Since"
                        @focus="callMonrhPicker('from')"
                        v-model="objectData.workingFrom"
                        @change="validateSinceDate"
                      />
                    </div>
                    <span v-if="errMsg.from" class="errormsg">{{
                      errMsg.from
                    }}</span>
                  </div>
                  <div>
                    <label class="">Working Till</label>
                    <div class="labelcontent mb-0">
                      <input
                        type="text"
                        placeholder="Working Till"
                        class="form-control eidClass"
                        @focus="callMonrhPicker('to')"
                        v-model="objectData.workingTill"
                      />
                    </div>
                    <span v-if="errMsg.to" class="errormsg">{{
                      errMsg.to
                    }}</span>
                  </div>
                </div>
                <div class="City divHeight">
                  <label for="city">City</label>
                  <input
                    id="city"
                    type="text"
                    placeholder="City"
                    class="form-control eidClass"
                    v-model="objectData.city"
                    @change="validateCity"
                  />
                  <span v-if="errMsg.city" class="errormsg d-flex">{{
                    errMsg.city
                  }}</span>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer border-0">
          <button
            type="button"
            class="btn btn-primary updateButtonStyle"
            @click.prevent="handleSubmit"
            :title="btnValue"
          >
            {{ btnValue }}
          </button>
        </div>
      </div>
    </div>
    <div id="myModal" class="sub-modal" :style="getMonthPickerStyle">
      <!-- Modal content -->
      <div class="sub-modal-content">
        <div>
          <MonthPicker v-if="btnValue === 'Add'" @input="showDate" />
          <MonthPicker
            v-else
            @input="showDate"
            :default-year="monthPickerYear"
            :default-month="monthPickerMonth"
          />
          <div class="mt-3 h5 d-flex justify-content-end">
            <button class="btn btn-info mr-3" @click="closeMonthPicker">Cancel</button>
            <button class="btn btn-info" @click="AfterMonthSelection">Done</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import { Emit } from "vue-property-decorator";
import { MonthPicker } from "vue-month-picker";
import { institutionalUniversityValidator } from "@/validators/validators";

@Options({
  components: {
    MonthPicker,
  },
  props: {
    objectData: Object,
    btnValue: String,
  },
})
export default class ExperienceEdit extends Vue {
  /* eslint-disable */
  objectData!: {
    designation: string;
    company: string;
    workingFrom: string;
    workingTill: string;
    city: string;
  };
  btnValue!: string;
  monthPickerMonth = 1;
  monthPickerYear = 2020;
  callerField = "";
  monthlist = [
    "January",
    "February",
    "March",
    "April",
    "May",
    "June",
    "July",
    "August",
    "September",
    "October",
    "November",
    "December",
  ];
  formData: any = [];
  formValidate = {
    designationValue: false,
    companyValue: false,
    city: false,
  };
  errMsg = {
    designation: "",
    company: "",
    from: "",
    to: "",
    city: "",
  };
  showMonthPicker = false;
  toDate = "";
  fromDate = "";

  @Emit("closeModal")
  closeModal(): boolean {
    this.errMsg = {
      designation: "",
      company: "",
      from: "",
      to: "",
      city: "",
    };
    return false;
  }

  closeMonthPicker(): void {
    this.showMonthPicker = false;
    this.monthPickerMonth = 2;
    this.monthPickerYear = 2020;
  }

  AfterMonthSelection(): void {
    if (this.toDate !== "") {
      this.objectData.workingTill = this.toDate;
      this.toDate = "";
    }
    if (this.fromDate !== "") {
      this.objectData.workingFrom = this.fromDate;
      this.fromDate = "";
    }
    this.showMonthPicker = false;
    this.validateSinceDate();
  }

  get getGridcontainerStyle():Partial<CSSStyleDeclaration>{
      return {
        marginBottom: this.errMsg.from || this.errMsg.to ? '':'16px'
      }
  }
  handleSubmit(): void {
    let emptyFlag = true;
    this.validateDesignation();
    this.validateCompany();
    this.validateCity();
    this.validateSinceDate();
    if (this.objectData.designation === "") {
      this.errMsg.designation = "Designation can not be empty*";
      emptyFlag = false;
    }
    if (this.objectData.company === "") {
      this.errMsg.company = "Company name can not be empty*";
      emptyFlag = false;
    }
    if (
      this.objectData.workingFrom === "" ||
      this.objectData.workingTill === undefined
    ) {
      this.errMsg.from = "Field can not be empty*";
      emptyFlag = false;
    }
    if (
      this.objectData.workingTill === "" ||
      this.objectData.workingTill === undefined
    ) {
      this.errMsg.to = "Field can not be empty*";
      emptyFlag = false;
    }
    if (this.objectData.city === "") {
      this.errMsg.city = "City name can not be empty*";
      emptyFlag = false;
    }

    // eslint-disable-next-line @typescript-eslint/no-unused-vars
    for (const [key, value] of Object.entries(this.formValidate)) {
      if (!value) {
        emptyFlag = false;
        break;
      }
    }
    if (emptyFlag) {
      this.closeModal();
      this.$emit("update-row-data", this.objectData);
    }
  }
  validateDesignation(): void {
    const value = this.objectData.designation;
    if (institutionalUniversityValidator(value)) {
      this.errMsg.designation = "";
      this.formValidate.designationValue = true;
    } else {
      this.errMsg.designation =
        "Special characters and numbers are not allowed";
      this.formValidate.designationValue = false;
    }
    if (value === "") {
      this.errMsg.designation = "";
      this.formValidate.designationValue = false;
    }
  }

  validateCompany(): void {
    const value = this.objectData.company;
    if (institutionalUniversityValidator(value)) {
      this.errMsg.company = "";
      this.formValidate.companyValue = true;
    } else {
      this.errMsg.company =
        "Company name should not contain any special characters and numbers";
      this.formValidate.companyValue = false;
    }
    if (value === "") {
      this.errMsg.company = "";
      this.formValidate.companyValue = false;
    }
  }

  validateCity(): void {
    const value = this.objectData.city;
    if (institutionalUniversityValidator(value)) {
      this.errMsg.city = "";
      this.formValidate.city = true;
    } else {
      this.errMsg.city =
        "City name should not contain any special characters and numbers";
      this.formValidate.city = false;
    }
    if (value === "") {
      this.errMsg.city = "";
      this.formValidate.city = false;
    }
  }

  validateSinceDate(): void {
    if (
      this.objectData.workingFrom !== "" &&
      this.objectData.workingTill !== "" &&
      this.objectData.workingFrom !== undefined &&
      this.objectData.workingTill !== undefined
    ) {
      if (
        parseInt(this.objectData.workingFrom.split(" ")[1]) >
        parseInt(this.objectData.workingTill.split(" ")[1])
      ) {
        this.errMsg.to = "Invalid date";
        return;
      } else if (
        parseInt(this.objectData.workingFrom.split(" ")[1]) ===
        parseInt(this.objectData.workingTill.split(" ")[1])
      ) {
        let from = 0;
        let to = 0;
        for (const i in this.monthlist) {
          if (this.objectData.workingFrom.split(" ")[0] === this.monthlist[i]) {
            from = parseInt(i) + 1;
          }
        }
        for (const i in this.monthlist) {
          if (this.objectData.workingTill.split(" ")[0] === this.monthlist[i]) {
            to = parseInt(i) + 1;
          }
        }
        if (from > to) {
          this.errMsg.to = "Invalid date";
          return;
        }
      }
    }
    if (
      this.objectData.workingFrom !== "" &&
      this.objectData.workingFrom !== undefined
    ) {
      this.errMsg.from = "";
    }
    if (
      this.objectData.workingTill !== "" &&
      this.objectData.workingTill !== undefined
    ) {
      this.errMsg.to = "";
    }
  }

  callMonrhPicker(value: string): void {
    this.showMonthPicker = true;
    this.callerField = value;
  }

  get getMonthPickerStyle(): Partial<CSSStyleDeclaration> {
    if (
      this.objectData.workingTill !== undefined &&
      this.objectData.workingTill.length !== 0
    ) {
      if (this.callerField === "to") {
        for (const i in this.monthlist) {
          if (this.objectData.workingTill.split(" ")[0] === this.monthlist[i]) {
            this.monthPickerMonth = parseInt(i);
          }
        }
        this.monthPickerYear = parseInt(
          this.objectData.workingTill.split(" ")[1]
        );
      } else {
        for (const i in this.monthlist) {
          if (this.objectData.workingFrom.split(" ")[0] === this.monthlist[i]) {
            this.monthPickerMonth = parseInt(i);
          }
        }
        this.monthPickerYear = parseInt(
          this.objectData.workingTill.split(" ")[1]
        );
      }
    }
    return {
      display: this.showMonthPicker ? "block" : "none",
    };
  }

  showDate(date: any): void {
    if (this.callerField == "to") {
      this.toDate = date.month + " " + date.year;
    } else {
      this.fromDate = date.month + " " + date.year;
    }
  }
}
</script>

<style scoped>
.titleStyle {
  font-weight: bold;
  color: rgb(0, 123, 255);
  position: relative;
  left: 146px;
  font-size: 30px;
}
.btn-style {
  background-color: rgb(80, 200, 120);
  color: white;
  float: right;
}
.eidClass {
  border-radius: 8px;
}
.form-container{
  width: fit-content;
}
.labelcontent {
  text-align: left;
  margin-bottom: 10px;
}
.smalltext {
  margin-bottom: 10px;
}
.date {
  font-weight: bold;
}
.datecontent {
  display: flex;
  align-items: baseline;
}
.addbtn {
  text-align: right;
  margin-right: 40px;
  margin-top: 23px;
}
.btntext {
  border: 1px solid rgb(197, 193, 193);
  border-radius: 4px;
  padding: 4px;
}
.btn-style {
  background-color: rgb(80, 200, 120);
  color: white;
  float: right;
}
.active-btn {
  background-color: rgb(80, 200, 120);
}
::placeholder {
  color: rgb(187, 186, 186);
}
.dropdowns {
  border-radius: 8px;
}
.errormsg {
  font-size: 10px;
  color: red;
  display: flex;
}
.errmsgdate {
  display: flex;
  margin-top: -8px;
}
.form-control {
  border-color: gray !important;
}
select option[disabled]:first-child {
  display: none;
}
select option {
  color: black;
}

.sub-modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.sub-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: fit-content;
}
.modal-content {
  border-radius: 31px;
}
.modal {
  background: rgb(0, 37, 77, 0.6);
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto;
  grid-column-gap: 20px;
}

.grid-container1 {
  display: inline-grid;
  grid-template-columns: auto auto;
  grid-column-gap: 40px;
  height: 10%;
}
.divHeight {
  height: 65px;
}
label {
  float: left;
  font-size: 12px;
  margin-bottom: 0px;
}
.modal-dialog {
  max-width: 484px;
}
.closeBtn {
  color: rgb(0, 123, 255);
  font-weight: lighter;
}
</style>