<template>
  <div>
    <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Designation</th>
            <th scope="col">Company</th>
            <th scope="col">Working From</th>
            <th scope="col">Working Till</th>
            <th scope="col">City</th>
            <th>
              <h3 :style="getIconStyle">
                <i
                  class="fas fa-plus-circle pointer"
                  @click="editClick(true, obj, 'Add')"
                  title="Add"
                ></i>
              </h3>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, index) in tableDetails" :key="index" :id="index">
            <th scope="row">{{ item.designation }}</th>
            <td>{{ item.company }}</td>
            <td>{{ item.workingFrom }}</td>
            <td>{{ item.workingTill }}</td>
            <td>{{ item.city }}</td>
            <td>
              <i
                class="far fa-edit mr-2 pointer text-primary"
                @mousedown="setIndex = parseInt(index)"
                @click="editClick(true, item, 'Update')"
                :id="index"
                title="Edit"
              ></i>
              <i
                class="far fa-trash-alt pointer text-danger"
                @click="deleteTableDetails(index, item)"
                title="Delete"
              ></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <ExperienceEdit
      :style="getModalStyle"
      :objectData="tableData"
      :btnValue="btnValue"
      @update-row-data="handleUpdate"
      @closeModal="
        (value) => {
          editClick(value);
        }
      "
    />
  </div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import ExperienceEdit from "@/components/ExperienceEdit.vue";
import { HTTP1 } from "@/http/http-common";
import { EventBus } from "@/event-bus";

@Options({
  components: {
    ExperienceEdit,
  },
})
export default class Experience extends Vue {
  /* eslint-disable */
  tableDetails: Array<{
    designation: string;
    company: string;
    workingFrom: string;
    workingTill: string;
    city: string;
  }> = [
    // {
    //   designation: "Software Engineer",
    //   company: "asd",
    //   workingFrom: "March 2020",
    //   workingTill: "June 2020",
    //   city: "Banglore",
    // },
  ];
  btnValue = "";
  obj = {
    designation: "",
    company: "",
    from: "",
    to: "",
    city: "",
  };
  modalOpen = false;
  tableData = {};
  setIndex = -1;

  get getIconStyle(): Partial<CSSStyleDeclaration> {
    return {
      marginBottom: "-0.5px",
    }
  }
  handleUpdate(e:any): void {
    if (this.setIndex === -1) {
      HTTP1.post("addexperiencedetailsbyid?employeeid=tyss121", e).then(
        (response) => {
          if (!response.data.error) {
            this.tableDetails.push({ ...e });
            EventBus.emit("setPopUp", {
              showPopUp: true,
              type: "success",
              message: "Saved Successfully",
            });
          }
        }
      )
    } else {
      HTTP1.post("updateexperiencedetailsbyid?employeeid=tyss121", e).then(
        (response) => {
          if (!response.data.error) {
            this.tableDetails[this.setIndex] = { ...e };
            this.setIndex = -1;
            EventBus.emit("setPopUp", {
              showPopUp: true,
              type: "success",
              message: "Saved Successfully",
            });
          }
        }
      );
    }
  }

  get getModalStyle(): Partial<CSSStyleDeclaration> {
    return {
      display: this.modalOpen ? "block" : "none",
    };
  }
  editClick(value: boolean, item: any, btnValue: string): void {
    this.modalOpen = value;
    this.btnValue = btnValue;
    if (value) {
      this.tableData = { ...item };
    } else {
      this.tableData = {};
    }
  }
  //delete date
  deleteTableDetails(index: number, item: any): void {
    console.log('object',this.tableDetails[index])
    HTTP1.delete("updateexperiencedetailsbyid?employeeid=tyss121", item).then(
      (response) => {
        if (!response.data.error) {
          this.tableDetails = this.tableDetails.filter((item, ind) => ind !== index);
          EventBus.emit("setPopUp", {
            showPopUp: true,
            type: "success",
            message: "Deleted Successfully",
          })
        }
      }
    ).catch((e)=>{console.log(e)})
  }

  mounted(): void {
    this.getExperienceDetails();
  }
  //get data
  async getExperienceDetails(): Promise<void> {
    const res = await HTTP1.get("getexperiencedetailsbyid?employeeid=tyss121");
    const data = await res.data;
    this.tableDetails = data.data;
    console.log(this.tableDetails)
  }
}
</script>