<template>
  <div>
    <div class="outerDiv">
      <div style="height: 280px">
        <div class="row" style="justify-content: center">
          <div class="card col-md-5" style="height: 240px">
            <div>
              <div
                class="profile"
                style="width: 60px; height: 60px; position: relative; top: 13px"
              >
                <img
                  src="../assets/noimage.png"
                  style="width: 60px; height: 60px"
                />
              </div>
              <div
                class="topLeftTextStyle"
                style="margin-top: 10px; font-size: 25px; font-weight: bold"
              >
                {{ localPersonalObj.firstname }}
                {{ localPersonalObj.lastname }} (TYSS{{
                  localPersonalObj.employeeid
                }})
              </div>
              <div
                class="topLeftTextStyle"
                style="font-weight: bold; font-size: 14px"
              >
                {{ localPersonalObj.designation }}
              </div>
              <div class="topLeftTextStyle" style="font-size: 14px">
                +91 {{ localPersonalObj.contactnumber }}
              </div>
              <div class="topLeftTextStyle" style="font-size: 14px">
                {{ localPersonalObj.officemailid }}
              </div>
              <div style="display: flex; position: relative; bottom: -30px">
                <progress
                  :value="progressValue"
                  max="100"
                  style="
                    width: calc(100% - 90px);
                    height: 30px;
                    pointer-events: none;
                  "
                ></progress
                ><span
                  style="
                    padding-left: 20px;
                    padding-top: 2px;
                    color: rgb(0, 123, 255);
                    cursor: context-menu;
                  "
                  >{{ progressValue }}%</span
                >
              </div>
            </div>
            <div>
              <div @click="editClick(true)">
                <img
                  src="../assets/edit.png"
                  style="
                    width: 25px;
                    height: 20px;
                    float: right;
                    position: relative;
                    top: -180px;
                    cursor: pointer;
                  "
                />
              </div>
            </div>
          </div>
          <div class="card col-md-6" style="height: 240px">
            <div class="rightTopClass">Quick Access</div>
            <div class="row" style="justify-content: center; margin-top: 30px">
              <router-link to="/" style="width: 110px; text-decoration: none">
                <div
                  class="profile"
                  style="
                    margin-right: 20px;
                    background-color: rgb(0, 123, 255);
                    border-radius: 50%;
                    height: 95px;
                    width: 95px;
                    cursor: pointer;
                  "
                >
                  <img
                    src="../assets/trekking.png"
                    style="
                      opacity: 0.5;
                      width: 45px;
                      height: 45px;
                      position: relative;
                      top: 20px;
                      border-radius: 0%;
                    "
                  />
                  <div class="rightTextStyle">Leaves</div>
                </div>
              </router-link>
              <router-link to="/" style="width: 110px; text-decoration: none">
                <div
                  class="profile"
                  style="
                    margin-right: 20px;
                    background-color: rgb(0, 123, 255);
                    border-radius: 50%;
                    height: 95px;
                    width: 95px;
                    cursor: pointer;
                  "
                >
                  <img
                    src="../assets/clock.png"
                    style="
                      opacity: 0.5;
                      width: 45px;
                      height: 45px;
                      position: relative;
                      top: 20px;
                      border-radius: 0%;
                    "
                  />
                  <div class="rightTextStyle" style="top: -23px">
                    Time Sheet
                  </div>
                </div>
              </router-link>
              <router-link to="/" style="width: 110px; text-decoration: none">
                <div
                  class="profile"
                  style="
                    margin-right: 20px;
                    background-color: rgb(0, 123, 255);
                    border-radius: 50%;
                    height: 95px;
                    width: 95px;
                    cursor: pointer;
                  "
                >
                  <img
                    src="../assets/expenses.png"
                    style="
                      opacity: 0.5;
                      width: 45px;
                      height: 45px;
                      position: relative;
                      top: 20px;
                      border-radius: 0%;
                    "
                  />
                  <div class="rightTextStyle">Expenses</div>
                </div>
              </router-link>
              <router-link to="/" style="width: 110px; text-decoration: none">
                <div
                  class="profile"
                  style="
                    margin-right: 20px;
                    background-color: rgb(0, 123, 255);
                    border-radius: 50%;
                    height: 95px;
                    width: 95px;
                    cursor: pointer;
                  "
                >
                  <img
                    src="../assets/immigration.png"
                    style="
                      opacity: 0.5;
                      width: 45px;
                      height: 45px;
                      position: relative;
                      top: 20px;
                      border-radius: 0%;
                    "
                  />
                  <div class="rightTextStyle">Attendance</div>
                </div>
              </router-link>
              <router-link to="/" style="width: 110px; text-decoration: none">
                <div
                  class="profile"
                  style="
                    margin-right: 20px;
                    background-color: rgb(0, 123, 255);
                    border-radius: 50%;
                    height: 95px;
                    width: 95px;
                    cursor: pointer;
                  "
                >
                  <img
                    src="../assets/dots.png"
                    style="
                      opacity: 0.5;
                      width: 45px;
                      height: 45px;
                      position: relative;
                      top: 20px;
                      border-radius: 0%;
                    "
                  />
                  <div class="rightTextStyle">More</div>
                </div>
              </router-link>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row" style="justify-content: center">
          <div class="card mt-100">
            <div class="card-content">
              <div class="card-body p-0">
                <div class="profile1" style="background-color: #e4adff9e">
                  <img
                    src="../assets/personal.svg"
                    alt="personal"
                    class="iconClass"
                  />
                </div>
                <div class="card-title">Personal<br /></div>
                <div class="card-subtitle">
                  <router-link to="/personal">
                    <button type="button" class="btn btn-primary">Add</button>
                  </router-link>
                </div>
              </div>
            </div>
          </div>
          <div class="card mt-100">
            <div class="card-content">
              <div class="card-body p-0">
                <div class="profile1" style="background-color: #f49698c4">
                  <i class="fas fa-user-graduate iconClass"></i>
                </div>
                <div class="card-title">Educational<br /></div>
                <div class="card-subtitle">
                  <router-link to="/educational">
                    <button type="button" class="btn btn-primary">Add</button>
                  </router-link>
                </div>
              </div>
            </div>
          </div>
          <div class="card mt-100">
            <div class="card-content">
              <div class="card-body p-0">
                <div class="profile1" style="background-color: #ced0daed">
                  <img
                    src="../assets/logical-thinking.png"
                    alt="skills"
                    class="iconClass"
                  />
                </div>
                <div class="card-title">IT Skills<br /></div>
                <div class="card-subtitle">
                  <router-link to="/technology">
                    <button type="button" class="btn btn-primary">Add</button>
                  </router-link>
                </div>
              </div>
            </div>
          </div>
          <div class="card mt-100">
            <div class="card-content">
              <div class="card-body p-0">
                <div class="profile1" style="background-color: #e7c4d7">
                  <img
                    src="../assets/experience.svg"
                    alt="experience"
                    class="iconClass"
                  />
                </div>
                <div class="card-title">Experience<br /></div>
                <div class="card-subtitle">
                  <router-link to="/experience">
                    <button type="button" class="btn btn-primary">Add</button>
                  </router-link>
                </div>
              </div>
            </div>
          </div>
          <div class="card mt-100">
            <div class="card-content">
              <div class="card-body p-0">
                <div class="profile1" style="background-color: #85ced8b0">
                  <img
                    src="../assets/testing.png"
                    alt="projects"
                    class="iconClass"
                  />
                </div>
                <div class="card-title">Projects<br /></div>
                <div class="card-subtitle">
                  <router-link to="/projectdetail">
                    <button type="button" class="btn btn-primary">Add</button>
                  </router-link>
                </div>
              </div>
            </div>
          </div>
          <div class="card mt-100">
            <div class="card-content">
              <div class="card-body p-0">
                <div class="profile1" style="background-color: #a5727275">
                  <img
                    src="../assets/document.png"
                    alt="certifications"
                    class="iconClass"
                  />
                </div>
                <div class="card-title">Certifications<br /></div>
                <div class="card-subtitle">
                  <router-link to="/achievements">
                    <button type="button" class="btn btn-primary">Add</button>
                  </router-link>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ProfileEdit
      :style="getModalStyle"
      @emitProfileData="updateProfileData"
      @closeModal="
        (value) => {
          editClick(value);
        }
      "
    />
  </div>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</template>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script lang="ts">
import { Options, Vue } from "vue-class-component";
import ProfileEdit from "@/components/ProfileEdit.vue";
import { HTTP } from "@/http/http-common";
import { EventBus } from "@/event-bus";
@Options({
  components: {
    ProfileEdit,
  },
})
export default class HomePage extends Vue {
  progressValue = 50;
  modalOpen = false;
  localPersonalObj = {
    employeeid: "",
    designation: "developer",
    firstname: "employee",
    lastname: "a",
    gender: "",
    joiningdate: "",
    contactnumber: "00000000000",
    alternativenumber: "",
    emrgycontactnumber1: "",
    emrgycontactnumber2: "",
    officemailid: "abc@ty.com",
    personalmailid: "",
    permanentaddrs: "",
    temporaryaddrs: "",
    resume: "",
  };
  editClick(value: boolean): void {
    this.modalOpen = value;
    EventBus.emit("profileData", this.localPersonalObj);
  }
  get getModalStyle(): Partial<CSSStyleDeclaration> {
    return {
      display: this.modalOpen ? "block" : "none",
    };
  }

  mounted(): void {
    this.getPersonalInfo();
  }

  async getPersonalInfo(): Promise<void> {
    const res = await HTTP.get("getessemployee?employeeid=1");
    const data = await res.data;
    this.localPersonalObj = { ...data };
  }

  updateProfileData(data: any): void {
    this.localPersonalObj = data;
  }
}
</script>

<style scoped>
.title {
  font-size: 25px;
  font-weight: 100;
}

.icon {
  position: relative;
  bottom: 11px;
}

.mt-100 {
  width: 150px;
  margin-top: 40px;
}

.profile img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.card {
  height: 210px;
  background-color: rgb(240, 255, 255);
  border-radius: 15px;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card-body {
  position: relative;
  bottom: 35px;
}

.btn {
  margin-top: 36px;
  margin-bottom: 45px;
  border: none;
  color: #fff;
  border-radius: 20px;
  width: 80px;
}

.btn:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  color: #fff;
}

.header {
  padding-top: 40px;
}
.card-title {
  margin-bottom: 0px;
  margin-top: 10px;
  font-size: 20px;
  color: darkcyan;
}
.outerDiv {
  display: grid;
  grid-template-columns: 1fr;
}
.rightTopClass {
  font-size: 30px;
  color: blue;
  text-align: left;
  margin-top: 20px;
}
.centered {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.rightTextStyle {
  position: relative;
  top: -13px;
  left: 6px;
  color: white;
  width: 81px;
}
.custom-file-upload {
  display: inline-block;
  cursor: pointer;
  width: 0px;
  height: 0px;
  position: relative;
  top: 20px;
  left: -16px;
}
.topLeftTextStyle {
  cursor: context-menu;
  text-align: left;
  color: rgb(0, 123, 255);
}
.iconClass {
  height: 45px;
  width: 45px;
  position: relative;
  top: 21px;
  font-size: 50px;
  color: black;
}

.profile1 {
  position: relative;
  left: 17px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  /* background-color: crimson; */
}
</style>