<template>
  <div id="nav">
    <nav class="navbar navbar-light bg-white font shadow-sm ">
      <router-link exact to="/"> <a class="navbar-brand font-weight-bold" href="#"
        ><span class="fore-color ml-5">ESS</span
        ><span class="lite-color">lite</span></a
      ></router-link>
      <button
        class="navbar-toggler mr-5"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon icon-bar"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link btn-sm" href="#">Apply Leave</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn-sm" href="#">Submit Time Sheet</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn-sm" href="#">Claim Expenses</a>
          </li>
          <div class="dropdown mr-4 ml-3">
            <button
              class="btn btn-default dropdown-toggle"
              type="button"
              id="menu1"
              data-toggle="dropdown"
            >
              <img
                src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                class="fit-image"
              />
              <span class="caret"></span>
            </button>
            <div
              class="dropdown-menu dropdown-menu-right"
              aria-labelledby="dropdownMenuButton"
            >
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </ul>
      </div>
    </nav>
  </div>
</template>

<style scoped>
#nav {
  z-index: 2;
  position: sticky;
  top: 0px;
}
.fit-image {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50px;
}
a {
  font-size: 1.1rem !important;
  font-weight: 600;
}
.fore-color {
  color: #076288;
}
.lite-color {
  color: rgb(221, 147, 15);
}
.bg-color {
  background-color: #076288;
  margin-top: 15px;
  border-radius: 20px;
  color: #fff !important;
  padding: 5px 15px !important;
}
.nav-item {
  padding: 0px 10px;
}
.navbar-brand {
  font-size: 1.5rem !important;
  margin-left: 5%;
}
.icon-bar {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(7, 98, 135, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
.navbar-light .navbar-toggler {
  border-color: #fff !important;
}
</style>
