<template>
  <div
    :style="popUpStyleObj"
    class="modal"
    id="exampleModal"
    style="background: rgb(0, 37, 77, 0.6);"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div
      class="modal-dialog-centered modal-dialog"
      role="document"
      style="max-width: 484px; display: flex; justify-content: center;"
    >
      <div
        class="modal-content"
        style="border-radius: 31px; width: 165px; height: 100px;"
        :style="{ background: type === 'success' ? 'lightgreen' : 'red' }"
      >
        <div class="modal-header" style="border: none; display: flex; justify-content: center;position: relative; top: -39px;"><img src="../assets/success.png" alt="" style="border-radius: 50%; height: 45px;"></div>
        <div class="modal-body" style=" position: relative; top: -68px;">
          <div
            class="profile"
            style="
              width: 80px;
              height: 80px;
              position: relative;
              top: 13px;
              display: contents;
              font-weight: black;
            "
          >
            <h5>{{ message }}</h5>
          </div>
          <div style="width: 400px;"></div>
        </div>
        <!-- <div class="modal-footer" style="border: none"></div> -->
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { Emit, Watch } from "vue-property-decorator/lib";
import { Options, Vue } from "vue-class-component";
import { EventBus } from "@/event-bus";
@Options({
  components: {},
})
export default class PopUp extends Vue {
  type = "";
  message = "";
  show = false;

  get popUpStyleObj(): Partial<CSSStyleDeclaration> {
    return {
      display: this.show ? "block" : "none",
    };
  }
  mounted(): void {
    EventBus.on("setPopUp", ({ showPopUp, type, message }) => {
      this.show = showPopUp;
      this.type = type;
      this.message = message;
    });
  }

  @Watch("show")
  onShow():void {
    if (this.show) {
      setTimeout(() => {
        this.show = false;
      }, 2000);
    }
  }

  @Emit("closeMessagePopUp")
  closeMessagePopUp(): boolean {
    console.log("closeMessagePopUp");
    return false;
  }
}
</script>
<style scoped>
</style>