<template>
  <div
    class="modal"
    id="exampleModal"
    style="background: rgb(0, 37, 77, 0.6)"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div
      class="modal-dialog-centered modal-dialog"
      role="document"
      style="max-width: 484px"
    >
      <div class="modal-content" style="border-radius: 31px">
        <div class="modal-header" style="border: none">
          <h5 class="modal-title titleStyle" id="exampleModalLabel">Profile</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            @click="closeModal()"
          >
            <span
              aria-hidden="true"
              style="color: rgb(0, 123, 255); font-weight: lighter"
              >&times;</span
            >
          </button>
        </div>
        <div class="modal-body">
          <div
            class="profile"
            style="
              width: 80px;
              height: 80px;
              position: relative;
              top: 13px;
              display: contents;
            "
          >
            <img
              src="../assets/noimage.png"
              style="width: 80px; height: 80px"
            />
            <label class="custom-file-upload">
              <input type="file" style="display: none" accept="image/*" />
              <i class="fa fa-camera upload-button"></i>
            </label>
          </div>
          <div style="width: 400px; margin-top: 27px">
          <p class="formfield" style="margin-bottom: 0px; height: 70px;">
            <label class="col-5" :style="labelStyle">First Name: </label><textarea class="form-control customTextareaStyle col-7" id="exampleFormControlTextarea1" v-model="localPersonalObj.firstname" @change="nameValidate($event)"></textarea>
          <span v-if="!nameValidateValue" class="invalidClass"
                >First Name must contain minimum of 3 character and accepts only Alphabets</span
              >
              <span v-else-if="!nameValidateValueOnSubmit" class="invalidClass"
                >First Name is required*</span
              >
          </p>
          <p class="formfield" style="margin-bottom: 0px; height: 70px;">
            <label class="col-5" :style="labelStyle">Last Name: </label><textarea class="form-control customTextareaStyle col-7" id="exampleFormControlTextarea1" v-model="localPersonalObj.lastname" @change="lastNameValidate($event)"></textarea>
            <span v-if="!lastNameValidateValue" class="invalidClass"
                >Last Name accepts only Alphabets</span
              >
              <span v-else-if="!lastNameValidateValueOnSubmit" class="invalidClass"
                >Last Name field is required*</span
              >
          </p>
            <p class="formfield" style="margin-bottom: 0px; height: 70px;">
            <label class="col-5" :style="labelStyle">Designation: </label><textarea class="form-control customTextareaStyle col-7" id="exampleFormControlTextarea1" v-model="localPersonalObj.designation" @change="updateDesignation"></textarea>
             <span v-if="!designationValue" class="invalidClass"
                >Designation accepts only Alphabets</span
              >
              <span v-if="!designationValueOnSubmit" class="invalidClass"
                >Designation field is required*</span
              >
            </p>
            <p class="formfield" style="margin-bottom: 0px; height: 70px;">
            <label class="col-5" :style="labelStyle">Phone No.: </label><textarea class="form-control customTextareaStyle col-7" id="exampleFormControlTextarea1" v-model="localPersonalObj.contactnumber" @change="updateContactNumber"></textarea>
              <span v-if="!contactValidateValue" class="invalidClass"
                >Contact number must contain 10 digits*</span
              >
              <span
                v-else-if="contactNumberExist"
                class="invalidClass"
                >Number already exist in other field*</span
              >
              <span
                v-else-if="!contactValidateValueOnSubmit"
                class="invalidClass"
                >Contact number field is required*</span
              >
            </p>
            <p class="formfield" style="margin-bottom: 0px; height: 70px;">
            <label class="col-5" :style="labelStyle">Email Address: </label><textarea class="form-control customTextareaStyle col-7" id="exampleFormControlTextarea1" v-model="localPersonalObj.officemailid" @change="updateOfficeMail"></textarea>
            <span v-if="!officialEmailValue" class="invalidClass"
                >Email address must contain @ and must not end with special
                character*</span
              >
              <span
                v-else-if="officialEmailExist"
                class="invalidClass"
                >Email already exists*</span
              >
              <span v-else-if="!officialEmailValueOnSubmit" class="invalidClass"
                >Official email is required*</span
              >
            </p>
          </div>
        </div>
        <div class="modal-footer" style="border: none">
          <button type="button" class="btn btn-primary updateButtonStyle" @click="handleUpdate">
            Update
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Emit } from "vue-property-decorator";
import { Options, Vue } from "vue-class-component";
import LabelWithTextAreaForEdit from "../components/molecules/LabelWithTextAreaForEdit.vue";
import { EventBus } from "@/event-bus";
import { HTTP } from "@/http/http-common";
import { emailValidator, lastNameValidator, nameValidator, numberValidator } from "@/validators/validators";
@Options({
  components: {
    LabelWithTextAreaForEdit,
  },
})
export default class ProfileEdit extends Vue {
  nameValidateValue = true;
  nameValidateValueOnSubmit = true;
  lastNameValidateValue = true;
  lastNameValidateValueOnSubmit = true;
  designationValue = true;
  designationValueOnSubmit = true;
  contactValidateValue = true;
  contactValidateValueOnSubmit = true;
  officialEmailValue = true;
  officialEmailValueOnSubmit = true;
  contactNumberExist = false;
  officialEmailExist = false;
  localPersonalObj = {
    employeeid: "",
    designation: "",
    firstname: "",
    lastname: "",
    gender: "",
    joiningdate: "",
    contactnumber: "",
    alternativenumber: "",
    emrgycontactnumber1: "",
    emrgycontactnumber2: "",
    officemailid: "",
    personalmailid: "",
    permanentaddrs: "",
    temporaryaddrs: "",
    resume: ""
  };
  
  @Emit("closeModal")
  closeModal(): boolean {
    return false;
  }
    get labelStyle(): Partial<CSSStyleDeclaration> {
    return {
      textAlign: "end",
      color: "rgb(0, 123, 255)",
    };
  }

  handleUpdate (): void {
    const data = this.localPersonalObj
    this.nameValidateValueOnSubmit = this.nameValidateOnSubmit(data.firstname)
    this.lastNameValidateValueOnSubmit = this.lastNameValidateOnSubmit(data.lastname)
    this.designationValueOnSubmit = this.updateDesignationOnSubmit(data.designation)
    this.contactValidateValueOnSubmit = this.updateContactNumberOnSubmit(data.contactnumber)
    this.officialEmailValueOnSubmit = this.updateOfficeMailOnSubmit(this.localPersonalObj.officemailid);
    if (this.nameValidateValueOnSubmit && this.nameValidateValue && this.lastNameValidateValue && this.lastNameValidateValueOnSubmit && this.designationValue && this.designationValueOnSubmit && this.contactValidateValueOnSubmit && this.contactValidateValue && this.officialEmailValue && this.officialEmailValueOnSubmit) {
    HTTP.post("updateessemployee", this.localPersonalObj)
          .then((response) => {
            const resp = response
            if(resp) {
            this.emitProfileData(data)
            EventBus.emit('setPopUp', {showPopUp: true, type: 'success', message: 'Saved Successfully'})
            }
          });
    this.closeModal()
    }
  }

    nameValidate(e: Event): void {
    const eTarget = e.target as HTMLInputElement;
    this.nameValidateValueOnSubmit = true;
    this.localPersonalObj.firstname = eTarget.value;
    if (eTarget.value !== "") {
      if (nameValidator(eTarget.value)) {
        this.nameValidateValue = true;
      } else {
        this.nameValidateValue = false;
      }
    } else {
      this.nameValidateValue = true;
    }
  }

  nameValidateOnSubmit(value: string): boolean {
    if (value !== "") {
      if (nameValidator(value)) {
        this.nameValidateValue = true;
      } else {
        this.nameValidateValue = false;
      }
      return true;
    } else {
      this.nameValidateValue = true;
      return false;
    }
  }

  lastNameValidate(e: Event): void {
    const eTarget = e.target as HTMLInputElement;
    this.lastNameValidateValueOnSubmit = true;
    this.localPersonalObj.lastname = eTarget.value;
    if (eTarget.value !== "") {
      if (lastNameValidator(eTarget.value)) {
        this.lastNameValidateValue = true;
      } else {
        this.lastNameValidateValue = false;
      }
    } else {
      this.lastNameValidateValue = true;
    }
  }

  lastNameValidateOnSubmit(value: string): boolean {
    if (value !== "") {
      if (lastNameValidator(value)) {
        this.lastNameValidateValue = true;
      } else {
        this.lastNameValidateValue = false;
      }
      return true;
    } else {
      this.lastNameValidateValue = true;
      return false;
    }
  }

  updateDesignation(e: Event): void {
    const eTarget = e.target as HTMLInputElement;
    this.designationValueOnSubmit = true;
    this.localPersonalObj.designation = eTarget.value;
    if (eTarget.value !== "") {
      if (nameValidator(eTarget.value)) {
        this.designationValue = true;
      } else {
        this.designationValue = false;
      }
    } else {
      this.designationValue = true;
    }
  }
  updateDesignationOnSubmit(value: string): boolean {
    if (value !== "") {
      if (nameValidator(value)) {
        this.designationValue = true;
      } else {
        this.designationValue = false;
      }
      return true;
    } else {
      this.designationValue = true;
      return false;
    }
  } 

  updateContactNumber(e: Event): void {
    const eTarget = e.target as HTMLInputElement;
    this.contactValidateValueOnSubmit = true;
    this.localPersonalObj.contactnumber = eTarget.value;
    const newVal = this.localPersonalObj.contactnumber
    if (eTarget.value !== "") {
      if (newVal === this.localPersonalObj.alternativenumber || newVal === this.localPersonalObj.emrgycontactnumber1 || newVal === this.localPersonalObj.emrgycontactnumber2) {
        this.contactNumberExist = true
      } else {
      this.contactNumberExist = false
      this.contactValidateValue = this.contactValidate(eTarget.value);
      }
    } else {
      this.contactNumberExist = false
      this.contactValidateValue = true;
    }
  }

  updateContactNumberOnSubmit(value: string): boolean {
    if (value !== "") {
      if (numberValidator(value)) {
        this.contactValidateValue = true;
      } else {
        this.contactValidateValue = false;
      }
      return true;
    } else {
      this.contactValidateValue = true;
      return false;
    }
  }

updateOfficeMail(e: Event): void {
  const eTarget = e.target as HTMLInputElement;
  this.officialEmailValueOnSubmit = true;
  this.localPersonalObj.officemailid = eTarget.value;
    const newVal = this.localPersonalObj.officemailid
    if (eTarget.value !== "") {
      if (newVal === this.localPersonalObj.personalmailid) {
        this.officialEmailExist = true;
      } else {
        this.officialEmailExist = false;
        this.officialEmailValue = this.emailValidate(eTarget.value);
      }
    } else {
      this.officialEmailExist = false;
      this.officialEmailValue = true;
    }
  }

  updateOfficeMailOnSubmit(value: string): boolean {
    if (value !== "") {
      if (emailValidator(value)) {
        this.officialEmailValue = true;
      } else {
        this.officialEmailValue = false;
      }
      return true;
    } else {
      this.officialEmailValue = true;
      return false;
    }
  }

  contactValidate(value: string): boolean {
    if (numberValidator(value)) {
      return true;
    } else {
      return false;
    }
  }

  emailValidate(value: string): boolean {
    if (emailValidator(value)) {
      return true;
    } else {
      return false;
    }
  }

  @Emit("emitProfileData")
  emitProfileData(val: any): any {
    return val
  }

  mounted (): void {
    EventBus.on('profileData', (data: any) => {
      this.localPersonalObj = {...data}
    })
  }
  
}
</script>

<style scoped>
.custom-file-upload {
  display: inline-block;
  cursor: pointer;
  width: 0px;
  height: 0px;
  position: relative;
  top: 20px;
  left: -16px;
}
.profile img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}
.inputClass {
  border: 1px solid lightgray;
  border-radius: 6px;
}
.titleStyle {
  font-weight: bold;
  color: rgb(0, 123, 255);
  position: relative;
  left: 180px;
  font-size: 30px;
}
.updateButtonStyle {
  border-radius: 30px;
  width: 100px;
}

/* New */
.formfield * {
  vertical-align: middle;
  width: 500px;
  margin-bottom: 0px;
}
.customTextareaStyle {
  display: inline !important;
}
textarea {
  resize: none;
  height: 38px !important;
}
.invalidClass {
  margin-top: 2px;
  font-size: 10px;
  color: red;
  float: right;
  width: 232px;
  text-align: left;
}
</style>
