<template>
  <div>
    <div class="project">
      <div class="container">
        <div class="buttonClass mb-4">
          <h3 :style="getIconStyle">
            <i
              class="fas fa-plus-circle pointer"
              @click="editClick(true, emptyObject, 'Add')"
              title="Add"
            ></i>
          </h3>
        </div>
      </div>
      <div class="row">
        <div
          :class="projectDetails.length === 1 ? 'col-md-12' : 'col-md-6'"
          v-for="(item, index) in projectDetails"
          :key="index"
        >
          <div class="card">
            <div class="container card-body shadow-lg border border-1 px-5">
              <div
                :class="projectDetails.length === 1 ? 'col-md-12' : 'col-md-6'"
              ></div>
              <div class="row mb-2">
                <div
                  :class="
                    projectDetails.length === 1
                      ? 'title col-md-2 d-flex'
                      : 'title col-md-4 d-flex'
                  "
                >
                  Project Title:
                </div>
                <div class="col-md d-flex fw-bolder pl-0 projectname">
                  {{ item.name }}
                </div>
                <div class="d-flex justify-content-end mb-4 col-md-2">
                  <i
                    class="far fa-edit mr-2 pointer text-primary"
                    @mousedown="setIndex = parseInt(index)"
                    @click="editClick(true, item, 'Update')"
                    title="Edit"
                  ></i>
                  <i
                    class="far fa-trash-alt pointer text-danger"
                    @click="deleteProjectDetails(index)"
                    title="Delete"
                  ></i>
                </div>
              </div>
              <div class="row mb-2">
                <div class="title d-flex">Technology:</div>
                <div
                  class="mx-4"
                  v-for="column of item.technology"
                  :key="column"
                >
                  <span
                    class="technologies d-flex justify-content-start textstyle"
                    >{{ column.type }}</span
                  >
                  <div class="ml-3">
                    <span
                      class="float-left pb-2 textstyle"
                      v-for="(ele, index) in column.items"
                      :key="index"
                      >{{ ele }}
                      <span v-if="index <= column.items.length - 2"
                        >,
                      </span></span
                    >
                  </div>
                </div>
              </div>

              <div class="row mb-3">
                <div
                  :class="
                    projectDetails.length === 1
                      ? 'col-md-2 d-flex title'
                      : 'col-md-4 d-flex title'
                  "
                >
                  Project Summary:
                </div>
                <div
                  class="container col-md col-lg col-sm d-flex divclassheight text-left textstyle pl-0"
                >
                  {{ item.summary }}
                </div>
              </div>
              <div class="row mb-2">
                <div
                  :class="
                    projectDetails.length === 1
                      ? 'col-md-2 d-flex title'
                      : 'col-md-4 d-flex title'
                  "
                >
                  Roles & Responsibility:
                </div>
                <div
                  class="col-md d-flex divclassheight text-left textstyle pl-0"
                >
                  {{ item.roles }}
                </div>
              </div>
              <div class="row mb-2">
                <div
                  :class="
                    projectDetails.length === 1
                      ? 'col-md-2 d-flex title'
                      : 'col-md-4 d-flex title'
                  "
                >
                  Project Duration:
                </div>
                <div class="col-md d-flex textstyle pl-0">
                  {{ getProjectDuration(index) }}
                </div>
              </div>
              <div class="row mb-2">
                <div
                  :class="
                    projectDetails.length === 1
                      ? 'col-md-2 d-flex title'
                      : 'col-md-4 d-flex title'
                  "
                >
                  Team Size:
                </div>
                <div class="col-md d-flex textstyle pl-0">
                  {{ item.teamSize }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ProjectEdit
      :style="getModalStyle"
      :dataObject="tableData"
      ref="projectEdit"
      :btnValue="btnValue"
      @updated-Data="handleUpdate"
      @closeModal="
        (value) => {
          editClick(value);
        }
      "
    />
  </div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import ProjectEdit from "@/components/ProjectEdit.vue";
import { projectTechData } from "@/models/SkillData";
import { Ref, Watch } from "vue-property-decorator";
import { HTTP, HTTP1 } from "../http/http-common";
import { EventBus } from "@/event-bus";
import { State } from "vuex-class";

@Options({
  components: {
    ProjectEdit,
  },
})
export default class ProjectDetail extends Vue {
  /* eslint-disable */
  @Ref("projectEdit") projectEdit!: ProjectEdit;
  @State((state) => state.employeeid) employeeid;
  modalOpen = false;
  localprojectTechData = projectTechData;
  projectDetails: Array<any> = [];
  emptyObject = {
    name: "",
    technology: [
      {
        type: "Front End Technologies",
        items: [],
      },
      {
        type: "Back End Technologies",
        items: [],
      },
      {
        type: "RDBMS Application",
        items: [],
      },
      {
        type: "Tools Used",
        items: [],
      },
      {
        type: "Others",
        items: [],
      },
    ],
    summary: "",
    roles: "",
    projectStart: "",
    projectEnd: "",
    teamSize: "",
    projectid: "",
  };
  dbProjectObj = {
    name: "",
    projectStart: "",
    projectEnd: "",
    frontend: "",
    backend: "",
    toolsUsed: "",
    rdbms: "",
    others: "",
    roles: "",
    summary: "",
    teamSize: 10,
    projectid: "",
  };
  dbProjectArray: Array<any> = [
    {
      name: "ESSLite",
      projectStart: "June 2019",
      projectEnd: "March 2020",
      frontend: "react",
      backend: "java",
      toolsUsed: "ASP.NET ",
      others: "abc",
      summary: "To maintain employee records",
      roles: "frontend developer",
      rdbms: "SQL",
      teamSize: 10,
      projectid: 1,
    },
    {
      name: "ESSLite",
      projectStart: "June 2019",
      projectEnd: "March 2020",
      frontend: "react",
      backend: "java",
      toolsUsed: "ASP.NET ",
      others: "abc",
      rdbms: "SQL",
      summary: "To maintain employee records",
      roles: "frontend developer",
      teamSize: 10,
      projectid: 2,
    },
  ];
  keyMatch = {
    name: "name",
    frontend: "Front End Technologies",
    backend: "Back End Technologies",
    others: "Others",
    rdbms: "RDBMS Application",
    toolsUsed: "Tools Used",
    summary: "summary",
    roles: "roles",
    projectStart: "projectStart",
    projectEnd: "projectEnd",
    teamSize: "teamSize",
    projectid: "projectid",
  };
  async getProjectInfo(): Promise<void> {
    const res = await HTTP.get(
      `getprojectdetailsbyid?employeeid=${this.employeeid}`
    );
    const data = await res.data;
    this.dbProjectArray = { ...data };
  }
  mounted() {
    this.getProjectInfo();
    for (const projectObj of this.dbProjectArray) {
      let getProjectObj = JSON.parse(JSON.stringify(this.emptyObject));
      for (const projectKey in projectObj) {
        if (projectKey in getProjectObj) {
          getProjectObj[projectKey] = projectObj[projectKey];
        } else {
          for (const techObj of getProjectObj.technology) {
            if (techObj.type === this.keyMatch[projectKey]) {
              techObj.items = projectObj[projectKey].split(",");
            }
          }
        }
      }
      this.projectDetails.push(JSON.parse(JSON.stringify(getProjectObj)));
    }
  }
  get getIconStyle(): Partial<CSSStyleDeclaration> {
    return {
      marginBottom: "-0.5px",
    };
  }
  formCount = this.projectDetails.length;
  tableData = {};
  setIndex = -1;
  btnValue = "";
  projectDuration = "";
  get getModalStyle(): Partial<CSSStyleDeclaration> {
    return {
      display: this.modalOpen ? "block" : "none",
    };
  }
  @Watch("modalOpen")
  disablescrolling() {
    if (this.modalOpen) {
      document.getElementsByTagName("body")[0].style.overflow = "hidden";
    } else {
      document.getElementsByTagName("body")[0].style.overflow = "auto";
    }
  }

  // eslint-disable-next-line @typescript-eslint/explicit-module-boundary-types
  editClick(value: boolean, item: any, btnValue: string): void {
    this.modalOpen = value;
    this.btnValue = btnValue;
    if (value) {
      this.tableData = JSON.parse(JSON.stringify(item));
      this.projectEdit.localSkillData = JSON.parse(
        JSON.stringify(item.technology)
      );
    } else {
      this.tableData = {};
    }
  }
  getKeyByValue(object: any, value: string) {
    return Object.keys(object).find((key) => object[key] === value);
  }
  convertProjectObj(e: any) {
    this.dbProjectArray = [];
    const mainData = JSON.parse(JSON.stringify(this.projectDetails));
    if (e !== "") {
      mainData.push({ ...e });
    }
    for (const projObj of mainData) {
      for (const projkey in projObj) {
        if (projkey !== "technology") {
          const mainkey = this.getKeyByValue(this.keyMatch, projkey)!;
          if (mainkey) {
            this.dbProjectObj[mainkey] = projObj[projkey];
          }
        } else {
          for (const techObj of projObj[projkey]) {
            const mainkey = this.getKeyByValue(this.keyMatch, techObj.type);
            if (mainkey) {
              this.dbProjectObj[mainkey] = techObj.items.toString();
            }
          }
        }
      }
      this.dbProjectArray.push({ ...this.dbProjectObj });
    }
  }

  // eslint-disable-next-line @typescript-eslint/explicit-module-boundary-types
  handleUpdate(e: any): void {
    if (this.setIndex === -1) {
      // this.projectDetails.push({ ...e }); // for frontend data updation
      this.convertProjectObj(e);
      console.log(
        "added object",
        this.dbProjectArray[this.dbProjectArray.length - 1]
      );
      HTTP.post(
        `addprojectdetailsbyid?employeeid=${this.employeeid}`,
        this.dbProjectArray[this.dbProjectArray.length - 1]
      ).then((response) => {
        if (!response.data.error) {
          this.projectDetails.push({ ...e });
          EventBus.emit("setPopUp", {
            showPopUp: true,
            type: "success",
            message: "Saved Successfully",
          });
        }
      });
    } else {
      // this.projectDetails[this.setIndex] = { ...e }; // for frontend data updation
      // this.setIndex = -1; // for frontend data updation
      this.convertProjectObj("");
      console.log("updated", this.dbProjectArray[this.setIndex]);
      HTTP.post(
        `updateprojectdetailsbyid?employeeid=${this.employeeid}`,
        this.dbProjectArray[this.setIndex]
      ).then((response) => {
        if (!response.data.error) {
          this.projectDetails[this.setIndex] = { ...e };
          this.setIndex = -1;
          EventBus.emit("setPopUp", {
            showPopUp: true,
            type: "success",
            message: "Saved Successfully",
          });
        }
      });
    }
  }

  deleteProjectDetails(index: number): void {
    // this.projectDetails.splice(index, 1); // data updation at frontend
    this.convertProjectObj("");
    console.log('delete object', this.projectDetails[index])
    for (let i = 0; i < this.projectDetails.length; i++) {
      if (index === i) {
        HTTP1.delete(
          `deleteprojectdetailsbyid?employeeid=${this.employeeid}`,
          this.projectDetails[index]
        ).then((response) => {
          const resp = response.data;
          this.projectDetails.splice(index, 1);
        });
      }
    }
  }
  getProjectDuration(index: number) {
    const monthdiff = this.getMonth(
      this.projectDetails[index].projectStart,
      this.projectDetails[index].projectEnd
    );
    return `${this.projectDetails[index].projectStart} to ${this.projectDetails[index].projectEnd} (${monthdiff})`;
  }
  getMonth(value: string, value2: string) {
    const monthlist = [
      "January",
      "February",
      "March",
      "April",
      "May",
      "June",
      "July",
      "August",
      "September",
      "October",
      "November",
      "December",
    ];
    let year = value.split(" ")[1];
    let count = 0;
    let i = monthlist.indexOf(value.split(" ")[0]);
    while (true) {
      count++;
      if (value2 === monthlist[i] + " " + year) {
        break;
      }
      if (i === monthlist.length - 1) {
        i = 0;
        year = (parseInt(year) + 1).toString();
      } else {
        i++;
      }
    }
    if (count > 12) {
      return (count % 12) + " months " + Math.floor(count / 12) + " years";
    } else {
      return (count % 12) + " months";
    }
  }
}
</script>

<style scoped>
.btn-style {
  background-color: rgb(80, 200, 120);
  color: white;
  float: right;
}
.buttonClass {
  text-align: right;
  margin-top: 23px;
}

.card {
  border: none;
}

.card-body {
  padding-top: 1em !important;
}
textarea {
  resize: none;
  border: 1px solid gray;
  border-radius: 8px;
}
.customTextareaStyle {
  display: inline !important;
  width: 80%;
}
textarea:read-only {
  background-color: white;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}
.labelstyle {
  display: flex;
}
label {
  padding-left: 10%;
  font-size: 12px;
  margin-bottom: 0px;
}
.divclass {
  width: 80%;
  border: 1px solid gray;
  border-radius: 10px;
  text-align: left;
  padding: 4px 12px;
  margin-bottom: 6px;
  height: 2rem;
}
.divclassheight {
  max-height: 6rem !important;
  overflow-y: auto;
}

::-webkit-scrollbar {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 6px;
}

/* resume  */
ul,
li {
  list-style-type: none;
}
.technologies {
  font-weight: bold;
}
.title {
  font-size: 14px;
  padding-left: 0px;
  padding-right: 0px;
  font-weight: bold;
  color: #155a6d;
}
.subtitle {
  font-size: 14px !important;
}
.textstyle {
  font-size: 14px;
}
.hoverstyle:hover {
  text-decoration-line: underline;
  text-decoration-style: solid;
}
.projectname {
  font-size: 14px;
}
</style>
