<template>
  <div
    class="modal"
    id="exampleModal"
    :style="getDivStyle"
    tabindex="1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog-centered modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header border-0">
          <h5 class="modal-title titleStyle" id="exampleModalLabel">
            Project Details
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            @click="closeModal()"
            title="Close"
          >
            <span class="closeBtn" aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div id="Project" class="container">
            <form class="container form-container">
              <div>
                <label for="name" class="labelStyle">Project Name</label>
                <textarea
                  class="form-control customTextareaStyle"
                  :rows="1"
                  v-model="dataObject.name"
                  placeholder="Project Name"
                  @change="validateTextareaName"
                  id="name"
                ></textarea>
                <span v-if="errmsg.name" class="errormsg">{{
                  errmsg.name
                }}</span>
              </div>
              <div v-for="getColumn in localskillArray" :key="getColumn.type">
                <label for="" class="labelStyle">{{ getColumn.type }}</label>
                <ProjectTechnology
                  :placeholder="getColumn.type"
                  :items="getItems(getColumn.type)"
                  :skills="getColumn.data"
                  @addItemObj="(obj) => addItemObj(obj, getColumn.type)"
                  @deleteItemObj="
                    (skill) => deleteItemObj(skill, getColumn.type)
                  "
                  @emitInputValue="
                    (val) => updateInputValue(val, getColumn.type)
                  "
                />
                <span
                  v-if="errmsg[getKeyByValue(keyMatch, getColumn.type)]"
                  class="errormsg"
                  >{{ errmsg[getKeyByValue(keyMatch, getColumn.type)] }}</span
                >
              </div>
              <div>
                <label for="" class="labelStyle">Project Summary</label>
                <textarea
                  class="form-control customTextareaStyle"
                  :rows="3"
                  v-model="dataObject.summary"
                  placeholder="Project Summary"
                  @change="validateTextareaSummary"
                  id="summary"
                ></textarea>
                <span v-if="errmsg.summary" class="errormsg">{{
                  errmsg.summary
                }}</span>
              </div>
              <div>
                <label for="" class="labelStyle">Roles & Responsibility</label>
                <textarea
                  class="form-control customTextareaStyle"
                  :rows="3"
                  v-model="dataObject.roles"
                  placeholder="Roles & Responsibility"
                  @change="validateTextareaRoles"
                  id="roles"
                ></textarea>
                <span v-if="errmsg.roles" class="errormsg">{{
                  errmsg.roles
                }}</span>
              </div>
              <div class="grid-container">
                <div class="grid-item">
                  <div class="labelStyle">Project Start Date</div>
                  <textarea
                    class="form-control customTextareaStyle"
                    :rows="1"
                    v-model="dataObject.projectStart"
                    placeholder="Worked From"
                    @focus="callMonthPicker('start')"
                  ></textarea>
                  <span v-if="errmsg.start" class="errormsg">{{
                    errmsg.start
                  }}</span>
                </div>
                <div>
                  <div class="labelStyle">Project End Date</div>
                  <textarea
                    class="form-control customTextareaStyle"
                    :rows="1"
                    v-model="dataObject.projectEnd"
                    placeholder="Worked Till"
                    @focus="callMonthPicker('end')"
                  ></textarea>
                  <span v-if="errmsg.end" class="errormsg">{{
                    errmsg.end
                  }}</span>
                </div>
              </div>
              <label for="" class="labelStyle">Team Size</label>
              <input
                class="form-control customTextareaStyle"
                type="number"
                v-model="dataObject.teamSize"
                @change="validateTeamSize"
                placeholder="Team Size"
              />
              <span v-if="errmsg.teamSize" class="errormsg mt-0">{{
                errmsg.teamSize
              }}</span>
            </form>
          </div>
        </div>
        <div class="modal-footer border-0">
          <button
            type="button"
            class="btn btn-primary updateButtonStyle"
            @click="handleUpdate"
          >
            {{ btnValue }}
          </button>
        </div>
      </div>
    </div>
    <div id="myModal" class="sub-modal" :style="getMonthPickerStyle">
      <div class="sub-modal-content">
        <div>
          <MonthPicker v-if="btnValue === 'Add'" @input="showDate" />
          <MonthPicker
            v-else
            @input="showDate"
            :default-year="monthPickerYear"
            :default-month="monthPickerMonth"
          />
          <div class="mt-3 h5 d-flex justify-content-end">
            <button class="btn btn-info mr-3" @click="cancelled">Cancel</button>
            <button class="btn btn-info" @click="done">Done</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import { Emit } from "vue-property-decorator";
import ProjectTechnology from "@/components/ProjectTechnology.vue";
import { projectTech } from "@/models/Skills";
import { projectTechData } from "@/models/SkillData";
import { MonthPicker } from "vue-month-picker";

@Options({
  components: {
    ProjectTechnology,
    MonthPicker,
  },
  props: {
    dataObject: Object,
    btnValue: String,
  },
})
export default class ProjectEdit extends Vue {
  /* eslint-disable */
  localskillArray = projectTech;

  dataObject = {
    name: "",
    technology: "",
    summary: "",
    roles: "",
    projectStart: "",
    projectEnd: "",
    teamSize: "",
    projectid: "",
  };
  getKeyByValue(object: any, value: string) {
    return Object.keys(object).find((key) => object[key] === value);
  }
  localSkillData: any =
    this.dataObject && this.dataObject.technology
      ? this.dataObject.technology
      : projectTechData;

  keyMatch = {
    name: "name",
    frontend: "Front End Technologies",
    backend: "Back End Technologies",
    others: "Others",
    rdbms: "RDBMS Application",
    toolsUsed: "Tools Used",
    summary: "summary",
    roles: "roles",
    projectStart: "projectStart",
    projectEnd: "projectEnd",
    teamSize: "teamSize",
    projectid: "",
  };
  dbProjectObj = {
    name: "",
    projectStart: "",
    projectEnd: "",
    frontend: "",
    backend: "",
    toolsUsed: "",
    rdbms: "",
    others: "",
    roles: "",
    summary: "",
    teamSize: 10,
    projectid: "",
  };
  errmsg = {
    name: "",
    technology: "",
    summary: "",
    roles: "",
    start: "",
    end: "",
    teamSize: "",
    frontend: "",
    backend: "",
    toolsUsed: "",
    rdbms: "",
    others: "",
  };

  monthPickerMonth = 1;
  monthPickerYear = 2020;
  callerField = "";
  monthlist = [
    "January",
    "February",
    "March",
    "April",
    "May",
    "June",
    "July",
    "August",
    "September",
    "October",
    "November",
    "December",
  ];

  showMonthPicker = false;
  projectStart = "";
  projectEnd = "";

  get getDivStyle(): Partial<CSSStyleDeclaration> {
    return {
      background: "rgb(0, 37, 77, 0.6)",
    };
  }
  updateInputValue(value: string, type: string) {
    if (value.indexOf(",")) {
      this.errmsg[this.getKeyByValue(this.keyMatch, type)!] = "";
    } else {
      this.errmsg[this.getKeyByValue(this.keyMatch, type)!] =
        "comma is not allowed";
    }
  }
  get getlocalArray() {
    return this.localskillArray;
  }
  addItemObj(obj: string, type: string) {
    this.errmsg[this.getKeyByValue(this.keyMatch, type)!] = "";
    if (obj.indexOf(",") === -1) {
      const findIndex = this.getMainSkillIndex(type);
      if (findIndex !== -1) {
        this.localSkillData[findIndex].items.push(obj);
      } else {
        const newObj = {
          type: type,
          items: [obj],
        };
        this.localSkillData.push(newObj);
      }
    } else {
      this.errmsg[this.getKeyByValue(this.keyMatch, type)!] =
        "comma is not allowed";
    }
  }
  deleteItemObj(skill: string, type: string) {
    const findIndex = this.getMainSkillIndex(type);
    const skillIndex = this.localSkillData[findIndex].items.findIndex(
      (val) => val === skill
    );
    this.localSkillData[findIndex].items.splice(skillIndex, 1);
  }

  get getMonthPickerStyle(): Partial<CSSStyleDeclaration> {
    if (
      this.dataObject.projectEnd !== undefined &&
      this.dataObject.projectEnd.length !== 0
    ) {
      if (this.callerField === "end") {
        for (const i in this.monthlist) {
          if (this.dataObject.projectEnd.split(" ")[0] === this.monthlist[i]) {
            this.monthPickerMonth = parseInt(i);
          }
        }
        this.monthPickerYear = parseInt(
          this.dataObject.projectEnd.split(" ")[1]
        );
      } else {
        for (const i in this.monthlist) {
          if (this.dataObject.projectEnd.split(" ")[0] === this.monthlist[i]) {
            this.monthPickerMonth = parseInt(i);
          }
        }
        this.monthPickerYear = parseInt(
          this.dataObject.projectEnd.split(" ")[1]
        );
      }
    }
    return {
      display: this.showMonthPicker ? "block" : "none",
    };
  }

  cancelled(): void {
    this.showMonthPicker = false;
    this.monthPickerMonth = 2;
    this.monthPickerYear = 2020;
  }

  done(): void {
    if (this.projectEnd !== "") {
      this.dataObject.projectEnd = this.projectEnd;
      this.projectEnd = "";
    }
    if (this.projectStart !== "") {
      this.dataObject.projectStart = this.projectStart;
      this.projectStart = "";
    }
    this.showMonthPicker = false;
    this.validateSinceDate();
  }

  callMonthPicker(value: string): void {
    this.showMonthPicker = true;
    this.callerField = value;
  }

  showDate(date: any): void {
    if (this.callerField == "end") {
      this.projectEnd = date.month + " " + date.year;
    } else {
      this.projectStart = date.month + " " + date.year;
    }
  }

  @Emit("closeModal")
  closeModal(): boolean {
    this.errmsg = {
      name: "",
      technology: "",
      summary: "",
      roles: "",
      start: "",
      end: "",
      teamSize: "",
      frontend: "",
      backend: "",
      toolsUsed: "",
      rdbms: "",
      others: "",
    };
    return false;
  }

  handleUpdate(): void {
    let emptyFlag = true;
    if (this.dataObject.name === "" || this.dataObject.name === undefined) {
      this.errmsg.name = "Project name can not empty";
      emptyFlag = false;
    }
    if (this.dataObject.technology === "") {
      // this.errmsg.technology = "Technology can not empty";
      emptyFlag = false;
    }
    if (
      this.dataObject.summary === "" ||
      this.dataObject.summary === undefined
    ) {
      this.errmsg.summary = "Project summary can not empty";
      emptyFlag = false;
    }
    if (this.dataObject.roles === "" || this.dataObject.roles === undefined) {
      this.errmsg.roles = "Roles & Responsibility can not empty";
      emptyFlag = false;
    }
    if (
      this.dataObject.projectStart === "" ||
      this.dataObject.projectStart === undefined
    ) {
      this.errmsg.start = "Field cannot be empty";
      emptyFlag = false;
    }
    if (
      this.dataObject.projectEnd === "" ||
      this.dataObject.projectEnd === undefined
    ) {
      this.errmsg.end = "Field cannot be empty";
      emptyFlag = false;
    }
    if (
      this.dataObject.teamSize === "" ||
      this.dataObject.teamSize === undefined
    ) {
      this.errmsg.teamSize = "Team size cannot be empty";
      emptyFlag = false;
    }
    for (const i in this.errmsg) {
      if (this.errmsg[i] !== "") {
        emptyFlag = false;
        break;
      }
    }
    if (emptyFlag) {
      this.closeModal();
      this.dataObject.technology = JSON.parse(
        JSON.stringify(this.localSkillData)
      );
      this.$emit("updated-Data", this.dataObject);
    }
  }
  validateTextareaName(event: Event): void {
    if ((event.target as HTMLTextAreaElement).value !== "") {
      this.errmsg.name = "";
    }
  }
  validateTextareaTechnology(event: Event): void {
    if ((event.target as HTMLTextAreaElement).value !== "") {
      this.errmsg.technology = "";
    }
  }
  validateTextareaSummary(event: Event): void {
    if ((event.target as HTMLTextAreaElement).value !== "") {
      this.errmsg.summary = "";
    }
  }
  validateTeamSize(event: Event): void {
    if ((event.target as HTMLTextAreaElement).value !== "") {
      this.errmsg.teamSize = "";
    }
  }
  validateTextareaRoles(event: Event): void {
    if ((event.target as HTMLTextAreaElement).value !== "") {
      this.errmsg.roles = "";
    }
  }
  validateSinceDate(): void {
    if (
      this.dataObject.projectStart !== "" &&
      this.dataObject.projectEnd !== "" &&
      this.dataObject.projectStart !== undefined
    ) {
      if (
        parseInt(this.dataObject.projectStart.split(" ")[1]) >
        parseInt(this.dataObject.projectEnd.split(" ")[1])
      ) {
        this.errmsg.end = "start date should be less than end date";
        return;
      } else if (
        parseInt(this.dataObject.projectStart.split(" ")[1]) ===
        parseInt(this.dataObject.projectEnd.split(" ")[1])
      ) {
        let from = 0;
        let to = 0;
        for (const i in this.monthlist) {
          if (
            this.dataObject.projectStart.split(" ")[0] === this.monthlist[i]
          ) {
            from = parseInt(i) + 1;
          }
        }
        for (const i in this.monthlist) {
          if (this.dataObject.projectEnd.split(" ")[0] === this.monthlist[i]) {
            to = parseInt(i) + 1;
          }
        }
        if (from > to) {
          this.errmsg.end = "start date should be less than end date";
          return;
        }
      }
    }
    if (this.dataObject.projectStart !== "") {
      this.errmsg.start = "";
    }
    if (this.dataObject.projectEnd !== "") {
      this.errmsg.end = "";
    }
  }
  getMainSkillIndex(type: string) {
    return this.localSkillData.findIndex((val) => val.type === type);
  }
  getItems(type: string) {
    const findIndex = this.getMainSkillIndex(type);
    if (findIndex !== -1) {
      return this.localSkillData[findIndex].items;
    } else {
      return "";
    }
  }
}
</script>

<style scoped>
textarea,
input {
  resize: none;
  border: 1px solid gray;
  border-radius: 8px;
  padding-left: 30px;
}
#project {
  width: fit-content;
}
.customTextareaStyle {
  display: inline !important;
}
.titleStyle {
  font-weight: bold;
  color: rgb(0, 123, 255);
  position: relative;
  left: 146px;
  font-size: 30px;
}
.modal-body {
  height: 250px;
  overflow-y: auto;
}

@media (min-height: 500px) {
  .modal-body {
    height: 400px;
  }
}

@media (min-height: 800px) {
  .modal-body {
    height: 600px;
  }
}
.errormsg {
  margin-top: -6px;
  margin-bottom: 4px;
  font-size: 10px;
  color: red;
  display: flex;
}
::placeholder {
  color: rgb(176, 176, 176);
}
.sub-modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.sub-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: fit-content;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.form-container {
  width: fit-content;
}
.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto;
  grid-column-gap: 20px;
}

.labelStyle {
  float: left;
  font-size: 12px;
  margin-bottom: 0px;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.modal-dialog {
  max-width: 484px;
}

.modal-content {
  border-radius: 31px;
}

.closeBtn {
  color: rgb(0, 123, 255);
  font-weight: lighter;
}
</style>