<template>
  <div class="resume-template">
    <div class="row">
      <div class="col-2 bg-white shadow overflow-scroll1">
        <LeftSidebar />
      </div>
      <div class="col-8 text-left mt-3 px-1 overflow-scroll1">
        <div id="printableArea">
          <ResumeBody />
        </div>
      </div>
      <div class="col-2 bg-white shadow overflow-scroll1">
        <RightSidebar />
        <div class="row">
          <div class="col-6">
            <button @click="exportToPDF()" class="btn btn-dark my-1">
              Download
            </button>
          </div>
          <div class="col-6">
            <button @click="print()" class="btn btn-dark my-1">Print</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Options } from "vue-class-component";
import html2pdf from "html2pdf.js";
import LeftSidebar from "@/components/LeftSidebar/LeftSidebar.vue";
import RightSidebar from "@/components/RightSidebar/RightSidebar.vue";
import ResumeBody from "@/components/Resume/ResumeBody.vue";
import { State } from "vuex-class";
@Options({
  components: {
    LeftSidebar,
    RightSidebar,
    ResumeBody,
  },
})
export default class Resume extends Vue {
  @State((state) => state.employeeData) employeeData;
  @State((state) => state.validateProfile) validateProfile;

  exportToPDF(): void {
    if (
      this.employeeData.personalDetails.firstname.length === 0 ||
      this.employeeData.personalDetails.firstname.length === 0
    ) {
      if (this.employeeData.personalDetails.firstname.length === 0) {
        this.validateProfile.first = false;
      }
      if (this.employeeData.personalDetails.firstname.length === 0) {
        this.validateProfile.last = false;
      }
    } else {
      const target = document.getElementById("printableArea") as HTMLDivElement;
      const fileName =
        "TestYantra_" +
        this.employeeData.personalDetails.firstname +
        "_" +
        this.employeeData.personalDetails.lastname +
        "_" +
        this.employeeData.technologyDetails.stack;
      html2pdf(target, {
        margin: [10, 0, 0, 0],
        filename: `${fileName}.pdf`,
        image: { type: "jpeg", quality: 0.98 },
        html2canvas: { dpi: 192, letterRendering: true },
        jsPDF: { unit: "mm", format: "a4", orientation: "portrait" },
        pagebreak: { mode: ["avoid-all", "css", "legacy"] },
      });
    }
  }

  async print(): Promise<void> {
    const target = document.getElementById("printableArea") as HTMLElement;
    const prtHtml = target.innerHTML as string;

    let stylesHtml = "";
    for (const node of [
      ...document.querySelectorAll('link[rel="stylesheet"], style'),
    ]) {
      stylesHtml += node.outerHTML;
    }

    const WinPrint = window.open(
      "",
      "",
      "left=0,top=0,width=800,height=900,toolbar=0,scrollbars=0,status=0"
    ) as Window;

    WinPrint.document.write(`<!DOCTYPE html>
      <html>
        <head>
          ${stylesHtml}
        </head>
        <body>
          ${prtHtml}
        </body>
      </html>`);

    WinPrint.focus();
    await WinPrint.print();
    WinPrint.document.close();
    setTimeout(() => {
      WinPrint.close();
    }, 500);
  }
}
</script>
<style scoped>
@media print {
  .A4 {
    margin: 0;
    border: initial;
    border-radius: initial;
    width: auto !important;
    height: auto !important;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
  }
  table tr td {
    page-break-after: auto;
  }
  tr {
    page-break-inside: avoid;
    page-break-after: auto;
  }
  td {
    page-break-inside: avoid;
    page-break-after: auto;
  }
  thead {
    display: table-header-group;
  }
  tfoot {
    display: table-footer-group;
  }
}

@media print and (color) {
  * {
    -webkit-print-color-adjust: exact;
  }
}
.resume-template {
  background-color: #e1e2e4a1;
  overflow: hidden;
  height: 65vh;
}

.overflow-scroll1 {
  height: 65vh;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
</style>