<template>
  <div id="subNav" class="container">
    <div class="mb-3 ">
      <ul class="nav nav-tabs ml-2">
        <li class="nav-item px-2 liWidth" @click="afterReload">
          <router-link to="/personal">
            <div id="tab0" class="nav-link active completed">Personal</div>
          </router-link>
        </li>
        <li class="nav-item px-2 liWidth" @click="afterReload">
          <router-link to="/educational">
            <div id="tab1" class="nav-link textstyle">Educational</div>
          </router-link>
        </li>
        <li class="nav-item px-2 liWidth" @click="afterReload">
          <router-link to="/technology">
            <div id="tab2" class="nav-link textstyle">Technology</div>
          </router-link>
        </li>
        <li class="nav-item px-2 liWidth" @click="afterReload">
          <router-link to="/experience">
            <div id="tab3" class="nav-link textstyle">Experience</div>
          </router-link>
        </li>
        <li class="nav-item px-2 liWidth" @click="afterReload">
          <router-link to="/projectdetail">
            <div id="tab4" class="nav-link textstyle">Project Detail</div>
          </router-link>
        </li>
        <li class="nav-item px-2 liWidth" @click="afterReload">
          <router-link to="/resume">
            <div id="tab5" class="nav-link textstyle">Resume</div>
          </router-link>
        </li>
        <li class="nav-item px-2 liWidth" @click="afterReload">
          <router-link to="/achievements">
            <div id="tab6" class="nav-link textstyle">Achievements & Certification</div>
          </router-link>
        </li>
      </ul>
    </div>
  </div>
  <div class="content">
  </div>
</template>
<script lang="ts">
import { Vue } from "vue-class-component";
export default class SubNavBar extends Vue {
  tabList = [
    "personal",
    "educational",
    "technology",
    "experience",
    "projectdetail",
    "resume",
    "achievements"
  ];
  mounted(): void {
    this.afterReload();
  }
  afterReload(): void {
    let currentPage = window.location.pathname.slice(1);
    for (let i = 0; i < 7; i++) {
      if (currentPage === this.tabList[i]) {
        document.getElementById(`tab${i}`)?.classList.add("active");
        document.getElementById(`tab${i}`)?.classList.add("completed");
      } else {
        document.getElementById(`tab${i}`)?.classList.remove("active");
        document.getElementById(`tab${i}`)?.classList.remove("completed");
        document.getElementById(`tab${i}`)?.classList.add("textstyle");
      }
    }
  }
}
</script>

<style scoped>
.textstyle {
  color: rgb(134, 133, 133);
  font-weight: bold;
}

.remained {
  border-bottom: 2px solid rgb(134, 133, 133);
}

.completed {
  color: rgb(74, 145, 74) !important;
  font-weight: bold;
}

.content {
  height: 95%;
  overflow-y: auto;
}

.content::-webkit-scrollbar {
  display: none;
}
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.liWidth{
  width: fit-content;
  /* max-width: 300px; */
}
</style>