<template>
  <div>
    <div class="col-md-5 col-sm-5 col-lg-5 container mt-2">
      <form @submit.prevent="updateData">
        <label class="labelStyle">Select your stack</label>
        <CustomSelect
          :data="stackDetails"
          placeHolder="Select Your Stack"
          @emitSelectedOptVal="emitSelectedOptVal"
          :value="localSkillData.stack"
        />
        <br />
        <div
          :style="{ display: localSkillData.stack !== '' ? 'block' : 'none' }"
        >
          <CustomDiv
            v-for="getColumn in localskillArray"
            :key="getColumn.heading"
            :placeholder="getColumn.heading"
            :items="getItems(getColumn.heading)"
            :skills="getColumn.data"
            :type="getColumn.heading"
            @addItemObj="(obj) => addItemObj(obj, getColumn.heading)"
            @deleteItemObj="(skill) => deleteItemObj(skill, getColumn.heading)"
            @updateRating="(obj) => updateRating(obj, getColumn.heading)"
          />
        </div>
        <div class="d-flex">
          <button class="btn submit ml-auto px-5">Submit</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import CustomRating from "@/components/atoms/CustomRatings.vue";
import CustomDiv from "@/components/atoms/CustomDiv.vue";
import { skillData } from "@/models/SkillData";
import { skillArray } from "@/models/Skills";
import CustomSelect from "@/components/atoms/CustomSelect.vue";
import { Stack } from "@/models/Stack";
import axios from "axios";
import { State } from "vuex-class";
import { EventBus } from "@/event-bus";
import { HTTP } from "@/http/http-common";
interface ISkillArray {
  stack: string;
  skills: Array<ISkillObj>;
}
interface ISkillObj {
  type: string;
  items: Array<ISkillItem>;
}
interface ISkillItem {
  skillName: string;
  ratings: number;
}
interface ISubSkillObj {
  skillName: string;
  ratings: number;
}
@Options({
  components: {
    CustomRating,
    CustomDiv,
    CustomSelect,
  },
})
export default class Technology extends Vue {
  @State((state) => state.employeeid) employeeid;
  localSkillData: ISkillArray = skillData;
  localskillArray = skillArray;
  stackDetails = Stack;
  mounted(): void {
    this.getTechnologyInfo();
  }

  async getTechnologyInfo(): Promise<void> {
    const res = await HTTP.get(
      `getemployeeskills?employeeid=${this.employeeid}`
    );
    const data = await res.data;
    this.localSkillData = data;
  }
  addItemObj(obj: ISubSkillObj, type: string): void {
    const findIndex = this.getMainSkillIndex(type);
    if (findIndex !== -1) {
      this.localSkillData.skills[findIndex].items.push(obj);
    } else {
      const newObj = {
        type: type,
        items: [{ ...obj }],
      };
      this.localSkillData.skills.push(newObj);
    }
  }
  deleteItemObj(skill: string, type: string): void {
    const findIndex = this.getMainSkillIndex(type);
    const skillIndex = this.localSkillData.skills[findIndex].items.findIndex(
      (val) => val.skillName === skill
    );
    this.localSkillData.skills[findIndex].items.splice(skillIndex, 1);
  }
  updateRating(obj: ISkillItem, type: string): void {
    const findIndex = this.getMainSkillIndex(type);
    const skillIndex = this.localSkillData.skills[findIndex].items.findIndex(
      (val) => val.skillName === obj.skillName
    );
    this.localSkillData.skills[findIndex].items[skillIndex].ratings =
      obj.ratings;
  }
  getMainSkillIndex(type: string): number {
    return this.localSkillData.skills.findIndex((val) => val.type === type);
  }
  getItems(type: string): Array<ISkillItem> {
    const findIndex = this.getMainSkillIndex(type);
    if (findIndex !== -1) {
      return this.localSkillData.skills[findIndex].items;
    } else {
      return [];
    }
  }
  emitSelectedOptVal(val: string): void {
    this.localSkillData.stack = val;
  }

  updateData(): void {
    HTTP
      .post(
        `addstackskilldetails?employeeid=${this.employeeid}`,
        this.localSkillData
      )
      .then((response) => {
        const resp = response.data;
        EventBus.emit('setPopUp', {showPopUp: true, type: 'success', message: 'Saved Successfully'})
      });
  }
}
</script>
<style scoped>
.submit {
  background-color: rgb(69, 186, 130);
  color: white;
  font-weight: 400;
}
.labelStyle {
  float: left;
  margin-bottom: 0px;
  font-size: 12px;
}
</style>