<template>
  <div v-for="ele in listData" :key="ele.id">
    <div class="row px-3">
      <input
        class="col-8 form-control mx-1 my-2"
        type="text"
        v-model="ele.skillName"
      />
      <button
        type="button"
        class="col-2 btn ml-2 text-center px-2"
        @click="deleteList(ele.skillName)"
      >
        <i class="fas fa-times"></i>
      </button>
    </div>
  </div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import { State } from "vuex-class";

@Options({
  props: {
    listData: [],
    listType: String,
    techType: String,
  },
})
export default class CustomDisplayList extends Vue {
  @State((state) => state.showList) showList;
  @State((state) => state.employeeData) employeeData;

  // eslint-disable-next-line @typescript-eslint/no-explicit-any
  listData!: any[];
  listType!: string;
  techType!: string;

  deleteList(listItem: string): void {
    if (this.listType === "technologyDetails") {
      this.employeeData.technologyDetails.skills.forEach((ele) => {
        if (ele.type === this.techType) {
          ele.items = ele.items.filter((skill) => {
            return skill.skillName !== listItem;
          });
        }
      });
    }
  }
}
</script>
<style scoped>
* {
  word-break: break-all;
}
label {
  font-size: 0.75rem;
}
.form-control {
  font-size: 14px !important;
}
small {
  font-size: 0.7rem;
}
</style>