<template>
  <div
    class="my-4 border border-gray-200 text-left"
    v-for="(ele, index) in employeeData.certificateDetails"
    :key="ele.certficateName"
  >
    <div class="text-center align-items-center my-2 mx-2 row">
      <input
        type="checkbox"
        class="form-check col-2 my-2"
        v-model="showCert[index]"
      />
      <div class="col-8 p-0">
        <button
          class="text-small btn"
          :tabindex="index"
          @click="setDropdown(index)"
        >
          {{ ele.certficateName }}
          <template v-if="showCert[index]">
            <i class="fas fa-angle-down"></i>
          </template>
          <template v-else><i class="fas fa-angle-up"></i></template>
        </button>
      </div>
      <div class="col-1 p-0">
        <button
          class="btn"
          @click="deleteCert(ele.certficateName)"
        >
          <i class="fas fa-times"></i>
        </button>
      </div>
    </div>
    <div class="mt-6 p-2" v-if="showDrop[index]">
      <div>
        <div class="d-flex flex-column mb-6">
          <label class="my-2 text-uppercase text-xs"
            ><small class="my-1">Certificate Name</small></label
          ><input
            class="form-control"
            type="text"
            placeholder="Python"
            v-model="ele.certficateName"
          /><small class="my-1">For ex: Python</small>
        </div>
        <div class="d-flex flex-column mb-6">
          <label class="my-2 text-uppercase text-xs"
            ><small class="my-1">Certified From</small></label
          ><input
            class="form-control"
            type="text"
            placeholder="XYZ"
            v-model="ele.certifiedFrom"
          /><small class="my-1">For ex: XYZ</small>
        </div>
        <div class="d-flex flex-column mb-6">
          <label class="my-2 text-uppercase text-xs"
            ><small class="my-1">Compelted On</small></label
          ><input
            class="form-control"
            type="text"
            placeholder="2020"
            v-model="ele.completion"
          /><small class="my-1">For ex: 2020</small>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue } from "vue-class-component";
import { State, Action } from "vuex-class";
export default class CustomDisplayCert extends Vue {
  @State((state) => state.employeeData) employeeData;
  @State((state) => state.showEduItems) showEduItems;
  @State((state) => state.display) display;
  @Action("updateCertItems") updateCertItemsAction;

  showDrop: boolean[] = [];
  showCert: boolean[] = [];

  created(): void {
    this.employeeData.certificateDetails.forEach(() => {
      this.showDrop.push(false);
      this.showCert.push(true);
    });
    this.updateCertItemsAction({
      type: "updateCertItems",
      value: this.showCert,
    });
    this.display.dispCert = false;
  }

  updated(): void {
    const certLen = this.employeeData.certificateDetails.length;
    for (let i = 1; i <= certLen - this.showDrop.length; i++) {
      this.showDrop.push(false);
      this.showCert.push(true);
    }
    this.updateCertItemsAction({
      type: "updateCertItems",
      value: this.showCert,
    });
  }

  setDropdown(index: number): void {
    this.showDrop[index] = !this.showDrop[index];
  }

  deleteCert(certName: string): void {
    this.employeeData.certificateDetails = this.employeeData.certificateDetails.filter(
      (ele) => {
        return ele.certficateName !== certName;
      }
    );
  }
}
</script>

<style scoped>
* {
  word-break: break-all;
}
.text-small {
  font-size: 0.875rem;
}
label {
  font-size: 0.75rem;
}
.form-control {
  font-size: 14px !important;
}
small {
  font-size: 0.7rem;
}
</style>