<template>
  <div class="row ml-1 my-2" :id="headerValue">
    <input
      type="checkbox"
      class="form-check col-2 mx-1 mt-1"
      v-model="showHeader"
      @change="getValue()"
      checked
    />
    <input
      type="text"
      class="form-control col-8"
      :value="headerValue"
      disabled
    />
  </div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import { State, Getter, Action, Mutation, namespace } from "vuex-class";

@Options({
  props: {
    headerValue: String,
  },
})
export default class CustomHeader extends Vue {
  @State((state) => state.employeeData) employeeData;
  @State((state) => state.showElements) showElements;
  headerValue!: string;
  showHeader!: boolean;
  getValue(): void {
    const text = this.headerValue.split(" ").splice(0, 1);
    for (let key in this.showElements) {
      if (key.includes(text[0])) {
        this.showElements[key] = this.showHeader;
      }
    }
  }
}
</script>
<style scoped>
label {
  font-size: 0.75rem;
}
.form-control {
  font-size: 14px !important;
}
small {
  font-size: 0.7rem;
}
</style>