<template>
  <div>
    <input
      :type="type"
      class="form-control inputClass"
      :placeholder="placeHolder"
    />
  </div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
@Options({
  props: {
    type: String,
    placeHolder: String,
  },
})
export default class CustomInput extends Vue {}
</script>

<style scoped>
::placeholder {
  opacity: 0.4;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.inputClass {
  border: 1px solid gray;
  border-radius: 8px;
}
</style>
