<template>
  <div>
    <label class="labelStyle">{{ type }}</label>
    <div class="multi-select-component py-2" @click="mainDivMouseDown">
      <div
        v-for="(item, index) in items"
        :key="index"
        class="col-md-3 px-2 mr-2 ml-2 py-2 float-start my-1 result"
        :style="itemStyle(index)"
      >
        <div class="text-dark mb-0 resultDivClass">
          <div class="labelClass">{{ item.skillName }}</div>
          <div class="deleteIcon">
            <i
              class="fas fa-times-circle"
              @click="deleteItemObj(item.skillName)"
            ></i>
          </div>
        </div>

        <template v-for="i in 5" :key="i">
          <CustomRating
            :width="15"
            :height="15"
            class="d-inline-flex"
            :eleID="item.skillName"
            :active="item.ratings >= i"
            :ratingId="i"
            :num="item.ratings"
            @mousedown="resultArrayRating(i, item.skillName)"
            @click.stop
          />
        </template>
      </div>
      <div class="search-container">
        <input
          class="selected-input"
          autocomplete="off"
          @focus="updateFilterArray(true)"
          @blur="inputBlur"
          @input="searchSkills"
          tabindex="0"
          :value="inputValue"
          ref="inputRef"
          @keydown.enter.exact="inputKeydown"
          @keydown="deleteItem"
        />
      </div>
    </div>
    <div
      class="search-container"
      :style="searchContainerStyle"
      @mousedown="updateIsSearchConClicked(true)"
      @click="updateIsSearchConClicked(false)"
    >
      <ul class="autocomplete-list">
        <li
          :data-value="item.skill"
          v-for="(item, index) in getFilteredArray"
          :key="index"
        >
          <input
            type="checkbox"
            :value="item.skill"
            class="mr-2 checkBoxClass"
            :checked="item.isChecked"
            @change="handleChange(item.skill)"
          />
          <span class="itemSkillLabelClass">{{ item.skill }}</span>
          <div class="d-inline-flex alignmentClass">
            <template v-for="i in 5" :key="i">
              <CustomRating
                :width="20"
                :height="20"
                class="d-inline-flex"
                v-if="item.isChecked === true"
                :eleID="item.skill"
                :active="item.rating >= i"
                :ratingId="i"
                :num="item.rating"
                @click="getRating(i, item.skill)"
                conditionEvent="click"
              />
            </template>
          </div>
        </li>
      </ul>
      <!-- <a href="#" class="dropdown-icon active"></a> -->
    </div>
  </div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import { Emit, Ref } from "vue-property-decorator";
import CustomRating from "@/components/atoms/CustomRatings.vue";
interface ISkillArray {
  stack: string;
  skills: Array<ISkillObj>;
}
interface ISkillObj {
  type: string;
  items: Array<ISkillItem>;
}
interface ISkillItem {
  skillName: string;
  ratings: number;
}
interface ISubSkillObj {
  skillName: string;
  ratings: number;
}
interface IFilterSkill {
  skill: string;
  rating: number;
  isChecked: boolean;
}
@Options({
  components: {
    CustomRating,
  },
  props: {
    placeholder: String,
    items: Array,
    skills: Array,
    type: String,
  },
})
export default class CustomDiv extends Vue {
  resultArray: Array<any> = [];
  show = false;
  type = "";
  showResults = false;
  selectedStars = [];
  filterArray: Array<any> = [];
  items: Array<ISkillItem> = [];
  skills: Array<IFilterSkill> = [];
  inputValue = "";
  @Ref("inputRef") inputRef!: HTMLInputElement;
  dropdownHeight = 0;
  isOpen = false;
  isSearchConClicked = false;
  selectedTokenId = -1;

  mainDivMouseDown(): void {
    this.inputRef.focus();
  }

  deleteItem(event: KeyboardEvent): void {
    if (event.key === "Backspace" || event.key === "Delete") {
      if (this.items.length > 0 && this.inputValue === "") {
        if (this.selectedTokenId === -1) {
          this.selectedTokenId = this.items.length - 1;
        } else {
          this.deleteItemObj(this.items[this.selectedTokenId].skillName);
          this.selectedTokenId = -1;
        }
      } else {
        this.selectedTokenId = -1;
      }
    }
  }

  @Emit("updateRating")
  updateRating(skillObj: ISubSkillObj): ISubSkillObj {
    return skillObj;
  }
  updateIsSearchConClicked(value: boolean): void {
    this.isSearchConClicked = value;
    this.inputRef.focus();
  }
  updateIsOpen(value: boolean): void {
    this.isOpen = value;
  }
  updateFilterArray(value: boolean): void {
    this.updateIsOpen(value);
    this.updateIsSearchConClicked(false);
    if (this.inputValue === "") {
      this.filterArray = JSON.parse(JSON.stringify(this.skills));
    }
  }
  resultArrayRating(rating: number, skillId: string): void {
    let skillObj = {
      skillName: skillId,
      ratings: rating,
    };
    this.updateRating(skillObj);
  }
  getRating(rating: number, skillId: string): void {
    const findIndex = this.filterArray.findIndex(
      (val) => val.skill === skillId
    );
    this.filterArray[findIndex].rating = rating;
    let skillObj = {
      skillName: skillId,
      ratings: rating,
    };
    this.updateRating(skillObj);
  }

  get getFilteredArray(): Array<ISkillArray> {
    if (this.items.length > 0) {
      for (const index in this.filterArray) {
        const finIndex = this.items.findIndex(
          (val: ISubSkillObj) =>
            val.skillName.toLowerCase() ===
            this.filterArray[index].skill.toLowerCase()
        );
        if (finIndex !== -1) {
          this.filterArray[index].isChecked = true;
          this.filterArray[index].rating = this.items[finIndex].ratings;
        } else {
          this.filterArray[index].isChecked = false;
        }
      }
      return this.filterArray;
    } else {
      for (const index in this.filterArray) {
        this.filterArray[index].isChecked = false;
      }
      return this.filterArray;
    }
  }

  get getRatingArray(): Array<ISkillArray> {
    const resultFilArray: Array<ISkillArray> = [];
    for (const iterator of this.resultArray) {
      if (iterator.isChecked) {
        resultFilArray.push({ ...iterator });
      }
    }
    return resultFilArray;
  }
  itemStyle(index: number): Partial<CSSStyleDeclaration> {
    return {
      borderColor:
        index === this.selectedTokenId ? "black" : "rgb(50, 245, 120)",
      background:
        index === this.selectedTokenId ? "#80808021" : "rgb(195, 251, 215)",
    };
  }

  searchSkills(e: KeyboardEvent): void {
    const eventTarget = e.target as HTMLInputElement;
    this.filterArray = [];
    if (eventTarget.value !== "") {
      this.selectedTokenId = -1;
      this.inputValue = eventTarget.value;
      for (let i = 0; i < this.skills.length; i++) {
        if (
          this.skills[i].skill[0].toLowerCase() ===
          eventTarget.value[0].toLowerCase()
        ) {
          if (
            this.skills[i].skill
              .toLowerCase()
              .includes(eventTarget.value.toLowerCase())
          ) {
            const findSkillIndex = this.filterArray.findIndex(
              (val) => val.skill === this.skills[i].skill
            );
            if (findSkillIndex === -1) {
              this.filterArray.push({
                skill: this.skills[i].skill,
                rating: this.skills[i].rating,
                isChecked: false,
              });
            }
          }
        }
      }
    } else {
      this.filterArray = [];
      for (let i = 0; i < this.skills.length; i++) {
        this.filterArray.push({
          skill: this.skills[i].skill,
          rating: this.skills[i].rating,
          isChecked: false,
        });
      }
      this.inputValue = "";
    }
  }
  @Emit("addItemObj")
  addItemObj(skillObj: ISubSkillObj): ISubSkillObj {
    this.inputValue = "";
    return skillObj;
  }
  @Emit("deleteItemObj")
  deleteItemObj(skillName: string): string {
    return skillName;
  }

  get searchContainerStyle(): Partial<CSSStyleDeclaration> {
    return { display: this.isOpen ? "block" : "none" };
  }

  inputKeydown(): void {
    if (this.inputValue !== "") {
      this.addNewObj();
    }
  }

  handleChange(value: string): void {
    const text = value;
    let skillObj = {
      skillName: "",
      ratings: 0,
    };
    for (let j = 0; j < this.filterArray.length; j++) {
      if (text === this.filterArray[j].skill) {
        if (this.filterArray[j].isChecked === false) {
          skillObj.skillName = this.filterArray[j].skill;
          skillObj.ratings = this.filterArray[j].rating;
          this.addItemObj(skillObj);
          this.inputRef.focus();
        } else {
          this.filterArray[j].rating = 0;
          this.deleteItemObj(this.filterArray[j].skill);
        }
      }
    }
  }
  addNewObj(): void {
    const skillObj = {
      skillName: this.inputValue,
      ratings: 0,
    };
    const findUniqueIndex = this.items.findIndex(
      (val) => val.skillName.toLowerCase() === this.inputValue.toLowerCase()
    );
    if (findUniqueIndex === -1) {
      this.addItemObj(skillObj);
      this.inputValue = "";
      this.inputRef.focus();
    }
  }
  inputBlur(): void {
    if (this.isSearchConClicked === false) {
      this.selectedTokenId = -1;
      this.updateIsOpen(false);
    }
  }
}
</script>
<style scoped>
::placeholder {
  color: rgb(176, 176, 176);
}
.group {
  border: 1px solid gray;
  border-radius: 8px;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.inputClass {
  border: none;
  outline: none;
  display: block;
  width: 100%;
  text-align: left;
}
.result {
  background: rgb(195, 251, 215);
  border: 0.5px solid;
  border-radius: 10px;
  display: inline-block;
}
.form-check-input {
  border-radius: 1.25em;
  background-color: rgb(50, 245, 120);
  border-color: rgb(50, 245, 120);
}
input[type="checkbox"][readonly] {
  pointer-events: none;
}
.text-left {
  outline: none;
  display: grid;
  grid-template-columns: 20px 1fr 25px 25px 25px 25px 25px;
}
.skillDropDown {
  height: 100px !important;
  overflow: auto;
}
.deleteIcon {
  float: right;
  color: red;
  display: inline;
}
.resultDivClass {
  display: flex;
}
select[data-multi-select-plugin] {
  display: none !important;
}

.multi-select-component {
  margin-top: 5px;
  margin-bottom: 20px;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
  padding: 3px 8px;
  font-size: 14px;
  line-height: 1.42857143;
  padding-bottom: 0px;
  color: #555;
  background-color: #fff;
  border: 1px solid gray;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.autocomplete-list {
  border-radius: 4px 0px 0px 4px;
}

.multi-select-component:focus-within {
  box-shadow: inset 0px 0px 0px 2px #78abfe;
}

.multi-select-component .btn-group {
  display: none !important;
}

.multiselect-native-select .multiselect-container {
  width: 100%;
}

.selected-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #d9d9d9;
  background-color: #ededed;
  cursor: default;
}

.selected-wrapper .selected-label {
  max-width: 514px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 4px;
  vertical-align: top;
}

.selected-wrapper .selected-close {
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.49em;
  margin-left: 5px;
  padding-bottom: 10px;
  height: 100%;
  vertical-align: top;
  padding-right: 4px;
  opacity: 0.2;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  font-weight: 700;
}

.search-container {
  display: flex;
  flex-direction: row;
}

.search-container .selected-input {
  background: none;
  border: 0;
  /* height: 20px;
  width: 60px;
  padding: 0; */
  margin-bottom: 6px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.search-container .selected-input:focus {
  outline: none;
}

.dropdown-icon.active {
  transform: rotateX(180deg);
}

.search-container .dropdown-icon {
  display: inline-block;
  padding: 10px 5px;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 10px;
  height: 10px;
  border: 0 !important;
  /* needed */
  -webkit-appearance: none;
  -moz-appearance: none;
  /* SVG background image */
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23818181%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23818181%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-position: center;
  background-size: 10px;
  background-repeat: no-repeat;
}

.search-container ul {
  position: absolute;
  list-style: none;
  padding: 0;
  z-index: 3;
  width: 94%;
  /* right: 0px; */
  margin-top: -20px;
  background: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-bottom: none;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.search-container ul :focus {
  outline: none;
}

.search-container ul li {
  display: block;
  text-align: left;
  padding: 8px 29px 2px 12px;
  /* border-bottom: 1px solid #ccc; */
  font-size: 14px;
  min-height: 31px;
}

.search-container ul li:first-child {
  border-top: 1px solid #ccc;
  border-radius: 4px 0px 0 0;
}

.search-container ul li:last-child {
  border-radius: 4px 0px 0 0;
}

.search-container ul li:hover.not-cursor {
  cursor: default;
}

.search-container ul li:hover {
  /* color: #333; */
  /* background-color: rgb(251, 242, 152); */
  /* border-color: #adadad; */
  cursor: pointer;
}

/* Adding scrool to select options */
.autocomplete-list {
  max-height: 130px;
  overflow-y: auto;
}
.labelStyle {
  float: left;
  margin-bottom: 0px;
  font-size: 12px;
}
.labelClass {
  display: inline;
  width: 90%;
}
.checkBoxClass {
  position: relative;
  top: 5px;
}
.itemSkillLabelClass {
  position: relative;
  top: 3px;
}
.alignmentClass {
  float: right;
}
</style>