<template>
  <div>
    <button style="font-size: 12px; border: 1px solid gray; border-radius: 3px" class="ml-auto">
      <i class="fas fa-plus"></i>
      <label style="margin-left: 7px; margin-bottom: 0px"
        >{{buttonText}}</label
      >
    </button>
  </div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
@Options({
  props: {
    buttonText: String
  }
})
export default class CustomButton extends Vue {}
</script>

<style scoped>
</style>
