<template>
  <div class="education">
    <select
      class="form-select empty"
      @change="changeSelect"
      aria-label="Default select example"
      ref="selectOption"
    >
      <option value="" selected disabled>{{ placeHolder }}</option>
      <option
        :key="arrayData.name"
        v-for="arrayData of data"
        :value="arrayData.value"
      >
        {{ arrayData.name }}
      </option>
    </select>
  </div>
</template>

<script lang="ts">
import { Emit, Ref } from "vue-property-decorator";
import { Options, Vue } from "vue-class-component";
@Options({
  props: {
    data: Array,
    placeHolder: String,
    value: String,
  },
})
export default class CustomSelect extends Vue {
  @Ref("selectOption") selectOption!: HTMLSelectElement;
  value = "";
  mounted(): void {
    for (const iterator of this.selectOption) {
      if (
        (iterator as HTMLOptionElement).value.toLowerCase() ===
        this.value.toLowerCase()
      )
        (iterator as HTMLOptionElement).selected = true;
    }
    const a = document.getElementsByClassName("education");
    for (let i = 0; i < a.length; i++) {
      const b = a[i];
      for (let index = 0; index < b.children.length; index++) {
        const element = b.children[index] as HTMLSelectElement;
        if (element.value === "") {
          element.style.color = "lightgray";
        } else {
          element.style.color = "black";
        }
      }
    }
  }
  @Emit("emitSelectedOptVal")
  emitSelectedOptVal(val: string): string {
    return val;
  }
  changeSelect(e: Event): void {
    const eTarget = e.target as HTMLSelectElement;
    if (eTarget.value !== "") {
      eTarget.style.color = "black";
      this.emitSelectedOptVal(eTarget.value);
    }
  }
}
</script>

<style scoped>
select option {
  color: black;
}
select option[disabled]:first-child {
  color: #80808082;
}
/* Hidden placeholder */
select option[disabled]:first-child {
  display: none;
}
.placeHolderStyle {
  color: gray;
}
.empty {
  border: 1px solid gray;
  border-radius: 8px;
}
</style>
