<template>
  <div
    class="my-4 border border-gray-200 text-left"
    v-for="(project, index) in employeeData.projectDetails"
    :key="project.name"
  >
    <div class="text-center align-items-center my-2 mx-2 row">
      <input
        type="checkbox"
        class="form-check col-2 my-2"
        v-model="showProject[index]"
      />
      <div class="col-8 p-0">
        <button
          class="text-small btn"
          :tabindex="index"
          @click="setDropdown(index)"
        >
          {{ project.name }}
          <template v-if="showDrop[index]">
            <i class="fas fa-angle-down"></i>
          </template>
          <template v-else><i class="fas fa-angle-up"></i></template>
        </button>
      </div>
      <div class="col-1 p-0">
        <button class="btn" @click="deleteProject(project.name)">
          <i class="fas fa-times"></i>
        </button>
      </div>
    </div>
    <div class="mt-6 p-2" v-if="showDrop[index]">
      <div class="d-flex flex-column mb-6">
        <label class="text-uppercase text-xs my-2"
          ><small class="mb-2">Project Name</small></label
        ><input
          class="form-control"
          type="text"
          placeholder="Project Name"
          v-model="project.name"
        /><small class="mb-2">For ex: E letter</small>
      </div>
      <div v-for="ele in project.technology" :key="ele.type">
        <div class="d-flex flex-column mb-6">
          <label class="text-uppercase text-xs my-2">{{ ele.type }}</label
          ><input
            type="text"
            class="form-control"
            :placeholder="ele.type"
            v-model="ele.items"
          /><small class="mb-2">For ex: HTML, CSS, React JS</small>
        </div>
      </div>
      <div>
        <input type="text" value="Duration" class="form-control" disabled />
        <div>
          <div>
            <label>Start Date</label
            ><input
              class="form-control"
              type="month"
              placeholder="Jan 2019"
              :value="getDate(project.projectStart)"
              @change="setDate(index, 'start', $event)"
            /><small class="mb-2"></small>
          </div>
          <div class="w-full flex flex-col mb-12">
            <label>End Date</label
            ><input
              class="form-control"
              type="month"
              placeholder="Jun 2019"
              :value="getDate(project.projectEnd, $event)"
              @change="setDate(index, 'end', $event)"
            /><small class="mb-2"></small>
          </div>
          <div>
            <label>Team size</label>
            <input
              type="text"
              placeholder="Team Size"
              class="form-control"
              v-model="project.teamSize"
            /><small class="mb-2">For ex: 6</small>
          </div>
          <div>
            <label>Summary</label>
            <textarea
              type="text"
              placeholder="Summary"
              class="form-control mb-2"
              v-model="project.summary"
            />
          </div>
          <div>
            <label>Roles</label>
            <input
              type="text"
              placeholder="Roles"
              class="form-control mb-2"
              v-model="project.roles"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue } from "vue-class-component";
import { State, Action } from "vuex-class";

export default class CustomDisplayProject extends Vue {
  @State((state) => state.employeeData) employeeData;
  @State((state) => state.projectItems) projectItems;
  @State((state) => state.display) display;
  @Action("updateEmployeeData") updateEmployeeDataAction;
  @Action("updateProjectItems") updateProjectItemsAction;

  showDrop: boolean[] = [];
  showProject: boolean[] = [];

  created(): void {
    this.employeeData.educationDetails.forEach(() => {
      this.showProject.push(true);
      this.showDrop.push(false);
    });
    this.updateProjectItemsAction({
      type: "updateshowProjectItems",
      value: this.showProject,
    });
    this.display.dispProject = false;
  }

  updated(): void {
    const projectLen = this.employeeData.educationDetails.length;
    for (let i = 1; i <= projectLen - this.showProject.length; i++) {
      this.showDrop.push(false);
      this.showProject.push(true);
    }
    this.updateProjectItemsAction({
      type: "updateshowProjectItems",
      value: this.showProject,
    });
    this.updateEmployeeDataAction({
      type: "employeeData",
      value: this.employeeData,
    });
  }

  setDropdown(index: number): void {
    this.showDrop[index] = !this.showDrop[index];
  }

  deleteProject(projectName: string): void {
    this.employeeData.projectDetails = this.employeeData.projectDetails.filter(
      (ele) => {
        return ele.name !== projectName;
      }
    );
  }

  setDate(index: number, type: string, e: MouseEvent): void {
    const eve = e.target as HTMLInputElement;
    const date = eve.value;
    const monthNames = [
      "January",
      "February",
      "March",
      "April",
      "May",
      "June",
      "July",
      "August",
      "September",
      "October",
      "November",
      "December",
    ];
    const month = Number(date.split("-").splice(-1)[0]) - 1;
    const year = date.split("-").splice(0, 1);
    const newMonth = monthNames[month];
    const newDate = newMonth + ", " + year;
    if (type === "start") {
      this.employeeData.projectDetails[index].projectStart = newDate;
    } else {
      this.employeeData.projectDetails[index].projectEnd = newDate;
    }
  }

  getDate(originalDate: string): string {
    let date = new Date(originalDate);
    var month = ("0" + (date.getMonth() + 1)).slice(-2);
    let newDate = date.getFullYear() + "-" + month;
    originalDate = newDate;
    return newDate;
  }
}
</script>
<style scoped>
* {
  word-break: break-all;
}
label {
  font-size: 0.75rem;
}
.form-control {
  font-size: 14px !important;
}
small {
  font-size: 0.7rem;
}
.text-small {
  font-size: 0.875rem;
}
</style>