<template>
  <textarea
    class="form-control"
    id="exampleFormControlTextarea1"
    :rows="rowSize"
    :placeholder="placeholder"
  ></textarea>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
@Options({
  props: {
    rowSize: Number,
    placeholder: String,
  },
})
export default class CustomTextArea extends Vue {}
</script>

<style scoped>
textarea {
  resize: none;
}
</style>
