<template>
   <label>{{text}}</label>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
@Options({
    props: {
        text: String
    }
})
export default class CustomLabel extends Vue {
}
</script>

<style scoped>
</style>
