<template>
  <p class="formfield">
    <CustomLabel class="col-5" :style="labelStyle" :text="text" />
    <CustomTextArea class="customTextareaStyle col-7" :rowSize="rowSize" />
  </p>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import CustomTextArea from "@/components/atoms/CustomTextArea.vue";
import CustomLabel from "@/components/atoms/CustomLabel.vue";

@Options({
  components: {
    CustomTextArea,
    CustomLabel,
  },
  props: {
    text: String,
    rowSize: Number,
  },
})
export default class LabelWithTextAreaForEdit extends Vue {
  get labelStyle(): Partial<CSSStyleDeclaration> {
    return {
      textAlign: "end",
      color: "rgb(0, 123, 255)",
    };
  }
}
</script>

<style scoped>
.formfield * {
  vertical-align: middle;
  width: 500px;
}
.customTextareaStyle {
  display: inline !important;
}
</style>