<template>
  <div id="base">
    <NavBar />
    <div class="innerContainer">
      <div class="card card-body mt-3 mx-3 backpage">
        <SubNavBar v-if="isValidPath"/>
        <router-view></router-view>
        <PopUp />
      </div>
    </div>
  </div>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</template>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script lang="ts">

import { Options, Vue } from "vue-class-component";
import NavBar from "@/components/NavBar.vue";
import SubNavBar from "@/components/SubNavBar.vue";
import HomePage from "@/components/HomePage.vue";
import PopUp from "@/components/PopUp.vue";

@Options({
  components: {
    NavBar,
    SubNavBar,
    HomePage,
    PopUp
  },
})
export default class App extends Vue {
  get isValidPath(): boolean {
     return this.$route.name !== 'HomePage'
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background-color: #e1e2e4a1;
}
#main {
  background-color: #e1e2e4a1;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

.card-body {
  border: 1px solid white;
  border-radius: 10px !important;
  padding-top: 3rem !important;
  margin-bottom: 1rem !important;
}

.innerContainer {
  padding: 0; 
  margin: 0;
  /* overflow: auto; */
  /* min-height: 700px; */
}
.footer {
  background-color: #e1e2e4a1 !important;
}
.pointer{
  cursor: pointer;
}
</style>
