<template>
  <CustomHeader :headerValue="'Achievements'" />
  <hr class="my-6" />
  <div v-for="ele in employeeData.achievements" :key="ele.achievement_id">
    <div class="row px-3">
      <input
        class="col-8 form-control mx-1 my-2"
        type="text"
        v-model="ele.achievement_details"
      />
      <button
        type="button"
        class="col-2 btn ml-2 text-center px-2"
        @click="deleteList(ele.achievement_details)"
      >
        <i class="fas fa-times"></i>
      </button>
    </div>
  </div>
  <hr class="my-6" />
  <CustomAdd
    :addValue="'Achievements'"
    :listType="'Achievements'"
    :example="''"
  />
</template>
<script lang="ts">
import { Options, Vue } from "vue-class-component";
import CustomHeader from "@/components/atoms/CustomHeader.vue";
import CustomAdd from "@/components/atoms/CustomAdd.vue";
import CustomDisplayList from "@/components/atoms/CustomDisplayList.vue";
import { State, Getter, Action, Mutation, namespace } from "vuex-class";

@Options({
  components: {
    CustomHeader,
    CustomAdd,
    CustomDisplayList,
  },
})
export default class Achievements extends Vue {
  @State((state) => state.showList) showList;
  @State((state) => state.employeeData) employeeData;

  deleteList(listItem: string): void {
    this.employeeData.achievements = this.employeeData.achievements.filter(
      (ele) => {
        return ele.achievement_details !== listItem;
      }
    );
  }
}
</script>
<style scoped>
* {
  word-break: break-all;
}
label {
  font-size: 0.75rem;
}
.form-control {
  font-size: 14px !important;
}
small {
  font-size: 0.7rem;
}
</style>