<template>
  <CustomHeader :headerValue="'Education'" />
  <div>
    <hr class="my-6" />
    <CustomDisplayEdu />
    <hr class="my-6" />
    <div class="my-4 border border-gray-200 text-left">
      <div class="text-center align-items-center row mx-1">
        <div class="col-8 p-0">
          <button class="text-small my-2 btn" @click="setDropdown()">
            Add Education
            <template v-if="showDrop">
              <i class="fas fa-angle-down"></i>
            </template>
            <template v-else><i class="fas fa-angle-up"></i></template>
          </button>
        </div>

        <div class="col-4">
          <button type="button" class="btn btn-dark btn-sm" @click="addEdu()">
            <i class="fas fa-plus"></i>
          </button>
        </div>
      </div>
      <div class="mt-6 p-2" v-if="showDrop">
        <div>
          <div class="d-flex flex-column mb-6">
            <label class="my-2 text-uppercase text-xs"
              ><small class="my-1">Qualification</small></label
            ><input
              class="form-control"
              type="text"
              placeholder="PUC"
              v-model="eduQualification"
              @input="validateEduQual()"
            /><small class="my-1">For ex: PUC</small>
            <span v-if="errMsg.errEduQual" class="errormsg">{{
              errMsg.errEduQual
            }}</span>
          </div>
          <div class="d-flex flex-column mb-6">
            <label class="my-2 text-uppercase text-xs"
              ><small class="my-1">Course</small></label
            ><input
              class="form-control"
              type="text"
              placeholder="PCMB"
              v-model="eduCourse"
              @input="validateEduCourse()"
            /><small class="my-1">For ex: PCMB</small>
            <span v-if="errMsg.errEduCourse" class="errormsg">{{
              errMsg.errEduCourse
            }}</span>
          </div>
          <div class="d-flex flex-column mb-6">
            <label class="my-2 text-uppercase text-xs"
              ><small class="my-1">Specialization</small></label
            ><input
              class="form-control"
              type="text"
              placeholder="ML"
              v-model="eduSpecial"
              @input="validateEduSpecial()"
            /><small class="my-1">For ex: ML</small>
            <span v-if="errMsg.errEduSpecial" class="errormsg">{{
              errMsg.errEduSpecial
            }}</span>
          </div>
          <div class="my-2 d-flex flex-column mb-6">
            <label class="text-uppercase text-xs">College Name</label
            ><input
              type="text"
              class="form-control"
              placeholder="College Name"
              v-model="eduCollege"
              @input="validateEduCollege()"
            /><small class="my-1">For ex: RV College</small>
            <span v-if="errMsg.errEduCollege" class="errormsg">{{
              errMsg.errEduCollege
            }}</span>
          </div>
          <div>
            <label class="my-2">University</label
            ><input
              type="text"
              placeholder="University"
              v-model="eduUni"
              class="form-control"
              @input="validateEduUni()"
            /><small class="my-1">For ex: VTU, Belgavi</small>
            <span v-if="errMsg.errEduUni" class="errormsg">{{
              errMsg.errEduUni
            }}</span>
          </div>
          <div>
            <label class="my-2">Pass out Year</label
            ><input
              type="text"
              placeholder="2012"
              v-model="eduYear"
              class="form-control"
              @input="validateEduYear()"
            /><small class="my-1">For ex: 2020</small>
            <span v-if="errMsg.errEduYear" class="errormsg">{{
              errMsg.errEduYear
            }}</span>
          </div>
          <div>
            <label class="my-2">Percentage</label
            ><input
              type="text"
              placeholder="90"
              v-model="eduPercentage"
              class="form-control"
              @input="validateEduPerc()"
            /><small class="my-1">For ex: 90</small>
            <span v-if="errMsg.errEduPerc" class="errormsg">{{
              errMsg.errEduPerc
            }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { Options, Vue } from "vue-class-component";
import CustomDisplayEdu from "@/components/atoms/CustomDisplayEdu.vue";
import { State, Action } from "vuex-class";
import CustomHeader from "@/components/atoms/CustomHeader.vue";

@Options({
  components: {
    CustomDisplayEdu,
    CustomHeader,
  },
})
export default class EducationTab extends Vue {
  @State((state) => state.employeeData) employeeData;
  @State((state) => state.university) university;
  @Action("updateUniversity") updateUniversityAction;

  eduPercentage = "";
  eduCollege = "";
  eduCourse = "";
  eduQualification = "";
  eduSpecial = "";
  eduYear = "";
  eduUni = "";
  showDrop = false;

  errMsg = {
    errEduDetail: "",
    errEduPerc: "",
    errEduCollege: "",
    errEduCourse: "",
    errEduQual: "",
    errEduSpecial: "",
    errEduYear: "",
    errEduUni: "",
  };

  setDropdown(): void {
    this.showDrop = !this.showDrop;
  }

  addEdu(): void {
    if (
      this.eduPercentage === "" ||
      this.eduCollege === "" ||
      this.eduCourse === "" ||
      this.eduQualification === "" ||
      this.eduSpecial === "" ||
      this.eduYear === "" ||
      this.eduUni === ""
    ) {
      this.showDrop = true;
      this.validateEduPerc();
      this.validateEduCollege();
      this.validateEduCourse();
      this.validateEduQual();
      this.validateEduSpecial();
      this.validateEduYear();
      this.validateEduUni();
    } else {
      this.employeeData.educationDetails.push({
        course: this.eduCourse,
        educationalid: Math.random() * 10,
        qualification: this.eduQualification,
        specialization: this.eduSpecial,
        insitution: this.eduCollege,
        passoutyear: this.eduYear,
        percentage: this.eduPercentage,
        employeeid: "tyss123",
      });
      this.updateUniversityAction({
        type: "updateUniversity",
        value: this.eduUni,
      });
      this.eduPercentage = "";
      this.eduCollege = "";
      this.eduCourse = "";
      this.eduQualification = "";
      this.eduSpecial = "";
      this.eduYear = "";
      this.eduUni = "";
    }
  }
  validateEduPerc(): void {
    if (this.eduPercentage.length > 0) {
      this.errMsg.errEduPerc = "";
    } else {
      this.errMsg.errEduPerc = "Percentage is required*";
    }
  }
  validateEduCollege(): void {
    if (this.eduCollege.length > 0) {
      this.errMsg.errEduCollege = "";
    } else {
      this.errMsg.errEduCollege = "College is required*";
    }
  }
  validateEduCourse(): void {
    if (this.eduCourse.length > 0) {
      this.errMsg.errEduCourse = "";
    } else {
      this.errMsg.errEduCourse = "Course is required*";
    }
  }
  validateEduQual(): void {
    if (this.eduQualification.length > 0) {
      this.errMsg.errEduQual = "";
    } else {
      this.errMsg.errEduQual = "Qualification is required*";
    }
  }
  validateEduSpecial(): void {
    if (this.eduSpecial.length > 0) {
      this.errMsg.errEduSpecial = "";
    } else {
      this.errMsg.errEduSpecial = "Specialization is required*";
    }
  }
  validateEduYear(): void {
    if (this.eduYear.length > 0) {
      this.errMsg.errEduYear = "";
    } else {
      this.errMsg.errEduYear = "Year is required*";
    }
  }
  validateEduUni(): void {
    if (this.eduUni.length > 0) {
      this.errMsg.errEduUni = "";
    } else {
      this.errMsg.errEduUni = "University is required*";
    }
  }
}
</script>
<style scoped>
* {
  word-break: break-all;
}
label {
  font-size: 0.75rem;
}
.form-control {
  font-size: 14px !important;
}
small {
  font-size: 0.7rem;
}
.text-small {
  font-size: 0.875rem;
}
.errormsg {
  font-size: 10px;
  color: red;
  display: flex;
}
</style>