<template>
  <div class="text-left mx-1">
    <div id="empName" class="grid grid-cols-2 col-gap-4 mb-2">
      <div class="w-full d-flex flex-column mb-6">
        <label class="mb-2" for="firstName">First Name</label>
        <input
          type="text"
          class="form-control px-1 py-3"
          name="firstName"
          placeholder="First Name"
          v-model="employeeData.personalDetails.firstname"
          @input="validateFirstName()"
        />
        <span v-if="errMsg.errFirst" class="errormsg">{{
          errMsg.errFirst
        }}</span>
        <span v-if="!validateProfile.first" class="errormsg">{{
          errorMsg.eFirst
        }}</span>
      </div>
      <div class="w-100 d-flex flex-column mb-6">
        <label class="mb-2" for="lastName">Last Name</label>
        <input
          type="text"
          class="form-control px-1 py-3"
          name="lasrName"
          placeholder="Last Name"
          v-model="employeeData.personalDetails.lastname"
          @input="validateLastName()"
        />
        <span v-if="errMsg.errLast" class="errormsg">{{ errMsg.errLast }}</span>
        <span v-if="!validateProfile.last" class="errormsg">{{
          errorMsg.eLast
        }}</span>
      </div>
    </div>
    <div class="form-group mb-2" id="primary-skill">
      <label class="mb-2" for="">Primary Skill</label>
      <select
        class="form-control form-select"
        v-model="employeeData.technologyDetails.stack"
      >
        <option value="FrontEnd" class="pl-2">FrontEnd</option>
        <option value="BackEnd" class="pl-2">BackEnd</option>
        <option value="Full_Stack" class="pl-2">Full Stack</option>
        <option value="Others" class="pl-2">Others</option>
      </select>
    </div>
    <hr class="my-6" />
    <div class="form-group mb-2" id="highest-education">
      <label class="mb-2" for="">Highest Education </label>
      <select class="form-control form-select" @change="handleChange($event)">
        <template
          v-for="item in employeeData.educationDetails"
          :key="item.educationalid"
        >
          <option
            :value="item.qualification + '(' + item.course + ')'"
            v-if="
              item.qualification !== '10th' && item.qualification !== '12th'
            "
          >
            {{ item.qualification }} ({{ item.course }})
          </option>
        </template>
      </select>
    </div>
    <hr class="my-6" />

    <div class="mb-2">
      <label class="mb-2" for="totalExp">Total Experience</label>
      <input
        type="text"
        class="form-control px-1 py-3"
        name="totalExp"
        placeholder="Total Experience"
        v-model="experience.totalExp"
        @input="validateTotal()"
      />
      <small>For example: 2</small>
      <span v-if="errMsg.errTotal" class="errormsg">{{ errMsg.errTotal }}</span>
      <div class="form-group" id="totalExpMonth">
        <label class="mb-2" for="">Months</label>
        <select
          class="form-control form-select"
          v-model="experience.totalMonth"
        >
          <option value="0" class="pl-2">0</option>
          <option value="1" class="pl-2">1</option>
          <option value="2" class="pl-2">2</option>
          <option value="3" class="pl-2">3</option>
          <option value="4" class="pl-2">4</option>
          <option value="5" class="pl-2">5</option>
          <option value="6" class="pl-2">6</option>
          <option value="7" class="pl-2">7</option>
          <option value="8" class="pl-2">8</option>
          <option value="9" class="pl-2">9</option>
          <option value="10" class="pl-2">10</option>
          <option value="11" class="pl-2">11</option>
        </select>
      </div>
    </div>
    <hr class="my-6" />
    <div>
      <label class="mb-2" for="relevantExp">Relevant Experience</label>
      <input
        type="text"
        class="form-control px-1 py-3"
        name="relevantExp"
        placeholder="Relevant Experience"
        v-model="experience.relExp"
        @input="validateRel()"
      />
      <small>For example: 1</small>
      <span v-if="errMsg.errRel" class="errormsg">{{ errMsg.errRel }}</span>
    </div>
    <div class="form-group" id="relevantExpMonth">
      <label class="mb-2" for="">Months</label>
      <select class="form-control form-select" v-model="experience.relMonth">
        <option value="0" class="pl-2">0</option>
        <option value="1" class="pl-2">1</option>
        <option value="2" class="pl-2">2</option>
        <option value="3" class="pl-2">3</option>
        <option value="4" class="pl-2">4</option>
        <option value="5" class="pl-2">5</option>
        <option value="6" class="pl-2">6</option>
        <option value="7" class="pl-2">7</option>
        <option value="8" class="pl-2">8</option>
        <option value="9" class="pl-2">9</option>
        <option value="10" class="pl-2">10</option>
        <option value="11" class="pl-2">11</option>
      </select>
    </div>
  </div>
</template>
<script lang="ts">
import { Options, Vue } from "vue-class-component";
import CustomHeader from "@/components/atoms/CustomHeader.vue";
import { State, Getter, Action, Mutation, namespace } from "vuex-class";
@Options({
  props: {
    empData: Object,
  },
  components: {
    CustomHeader,
  },
})
export default class Profile extends Vue {
  @State((state) => state.employeeData) employeeData;
  @State((state) => state.showElements) showElements;
  @State((state) => state.eduDetails) eduDetails;
  @State((state) => state.experience) experience;
  @State((state) => state.validateProfile) validateProfile;
  @Action("updateEmployeeData") updateEmployeeDataAction;
  @Action("updateEmployeeEduData") updateEmployeeEduDataAction;

  education = "";
  errMsg = {
    errFirst: "",
    errLast: "",
    errTotal: "",
    errRel: "",
  };
  errorMsg = {
    eFirst: "Firstname is required",
    eLast: "Lastname is required",
  };

  created(): void {
    this.education = `${this.employeeData.educationDetails[0].qualification} (${this.employeeData.educationDetails[0].course})`;

    const total = this.employeeData.personalDetails.totalExp;
    const relevant = this.employeeData.personalDetails.relExp;
    this.experience.totalExp = total.split("/")[0];
    this.experience.totalMonth = total.split("/")[1];
    this.experience.relExp = relevant.split("/")[0];
    this.experience.relMonth = relevant.split("/")[1];
    this.updateEmployeeEduDataAction({
      type: "eduDetails",
      value: this.education,
    });
  }

  updated(): void {
    this.education = `${this.employeeData.educationDetails[0].qualification} (${this.employeeData.educationDetails[0].course})`;
    this.updateEmployeeDataAction({
      type: "employeeData",
      value: this.employeeData,
    });
    this.updateEmployeeEduDataAction({
      type: "eduDetails",
      value: this.education,
    });
  }

  handleChange(e: MouseEvent): void {
    const eventTar = e.target as HTMLSelectElement;
    this.education = eventTar.value;
    this.updateEmployeeEduDataAction({
      type: "eduDetails",
      value: this.education,
    });
  }

  validateFirstName(): void {
    this.validateProfile.first = true;
    if (this.employeeData.personalDetails.firstname.length > 0) {
      this.errMsg.errFirst = "";
    } else {
      this.errMsg.errFirst = "Firstname is required*";
    }
  }
  validateLastName(): void {
    this.validateProfile.last = true;
    if (this.employeeData.personalDetails.lastname.length > 0) {
      this.errMsg.errLast = "";
    } else {
      this.errMsg.errLast = "Lastname is required*";
    }
  }
  validateTotal(): void {
    if (this.experience.totalExp.length > 0) {
      this.errMsg.errTotal = "";
    } else {
      this.errMsg.errTotal = "Total Experience is required*";
    }
  }
  validateRel(): void {
    if (this.experience.relExp.length > 0) {
      this.errMsg.errRel = "";
    } else {
      this.errMsg.errRel = "Relevant Experience is required*";
    }
  }
}
</script>
<style scoped>
* {
  word-break: break-all;
}
.form-control {
  font-size: 14px !important;
}
label {
  font-size: 0.75rem;
}
.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.col-gap-4 {
  grid-column-gap: 1rem;
  grid-column-gap: 1rem;
  column-gap: 1rem;
}
.grid {
  display: grid;
}
.w-full {
  width: 100%;
}
.flex-col {
  flex-direction: column;
}
.flex {
  display: flex;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  border-top-width: 1px;
}
.errormsg {
  font-size: 10px;
  color: red;
  display: flex;
}
</style>