<template>
  <CustomHeader :headerValue="'Project'" />
  <hr class="my-6" />
  <div>
    <CustomDisplayProject />
    <hr class="my-6" />
    <div class="my-4 border border-gray-200 text-left">
      <div class="text-center align-items-center row mx-1">
        <div class="col-8 p-0">
          <button class="text-small my-2 btn" @click="setDropdown()">
            Add Project
            <template v-if="showDrop">
              <i class="fas fa-angle-down"></i>
            </template>
            <template v-else><i class="fas fa-angle-up"></i></template>
          </button>
        </div>

        <div class="col-4">
          <button
            type="button"
            class="btn btn-dark btn-sm"
            @click="addProject()"
          >
            <i class="fas fa-plus"></i>
          </button>
        </div>
      </div>
      <div class="mt-6 p-2" v-if="showDrop">
        <div class="d-flex flex-column mb-6">
          <label class="text-uppercase text-xs my-2"
            ><small class="mb-2">Project Name</small></label
          ><input
            class="form-control"
            type="text"
            placeholder="Project Name"
            v-model="projectName"
            @input="validateProjectName()"
          /><small class="mb-2">For ex: E letter</small>
          <span v-if="errMsg.errProjectName" class="errormsg">{{
            errMsg.errProjectName
          }}</span>
        </div>
        <div class="d-flex flex-column mb-6">
          <label class="text-uppercase text-xs my-2"
            >Front End Technologies</label
          ><input
            type="text"
            class="form-control"
            placeholder="Front End Technologies"
            v-model="frontEnd"
            @input="validateFrontEnd()"
          /><small class="mb-2">For ex: HTML, CSS, React JS</small>
          <span v-if="errMsg.errFrontEnd" class="errormsg">{{
            errMsg.errFrontEnd
          }}</span>
        </div>
        <div>
          <label class="my-2">Back End Technologies</label
          ><input
            type="text"
            placeholder="Back End Technologies"
            class="form-control"
            v-model="backEnd"
            @input="validateBackEnd()"
          /><small class="mb-2">For ex: Java, J2EE</small>
          <span v-if="errMsg.errBackEnd" class="errormsg">{{
            errMsg.errBackEnd
          }}</span>
        </div>
        <div>
          <label>Design Patterns used</label
          ><input
            type="text"
            placeholder="Design Patterns used"
            class="form-control"
            v-model="design"
            @input="validateDesign()"
          /><small class="mb-2">For ex: MVC, DAO, DTO and Factory</small>
          <span v-if="errMsg.errDesign" class="errormsg">{{
            errMsg.errDesign
          }}</span>
        </div>
        <div>
          <label>RDBMS Application</label
          ><input
            type="text"
            placeholder="RDBMS Application"
            class="form-control"
            v-model="rdbms"
            @input="validateRBMS()"
          /><small class="mb-2">For ex: MySQL</small>
          <span v-if="errMsg.errRdbms" class="errormsg">{{
            errMsg.errRdbms
          }}</span>
        </div>
        <div>
          <label>Tools Used</label
          ><input
            type="text"
            placeholder="Tools Used"
            class="form-control"
            v-model="tools"
            @input="validateTools()"
          /><small class="mb-2">For ex: Visual Studio</small>
          <span v-if="errMsg.errTools" class="errormsg">{{
            errMsg.errTools
          }}</span>
        </div>
        <div>
          <label>Duration</label
          ><input
            type="text"
            placeholder="Duration"
            class="form-control"
            disabled
          />
          <div>
            <div>
              <label>Start Date</label
              ><input
                class="form-control"
                type="month"
                placeholder="Jan 2019"
                v-model="startDate"
                @input="validateStartDate()"
              /><small class="mb-2"></small>
              <span v-if="errMsg.errStartDate" class="errormsg">{{
                errMsg.errStartDate
              }}</span>
            </div>
            <div class="w-full flex flex-col mb-12">
              <label>End Date</label
              ><input
                class="form-control"
                type="month"
                placeholder="Jun 2019"
                v-model="endDate"
                @input="validateEndDate()"
              /><small class="mb-2"></small>
              <span v-if="errMsg.errEndDate" class="errormsg">{{
                errMsg.errEndDate
              }}</span>
            </div>
            <div>
              <label>Team size</label>
              <input
                type="text"
                placeholder="Team Size"
                class="form-control"
                v-model="teamSize"
                @input="validateTeamSize()"
              /><small class="mb-2">For ex: 6</small>
              <span v-if="errMsg.errTeamSize" class="errormsg">{{
                errMsg.errTeamSize
              }}</span>
            </div>
            <div>
              <label>Summary</label>
              <textarea
                type="text"
                placeholder="Summary"
                class="form-control mb-2"
                v-model="summary"
                @input="validateSummary()"
              />
            </div>
            <span v-if="errMsg.errSummary" class="errormsg">{{
              errMsg.errSummary
            }}</span>
            <div>
              <label>Roles</label>
              <input
                type="text"
                placeholder="Roles"
                class="form-control mb-2"
                v-model="roles"
                @input="validateRoles()"
              />
            </div>
            <span v-if="errMsg.errRoles" class="errormsg">{{
              errMsg.errRoles
            }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { Options, Vue } from "vue-class-component";
import CustomHeader from "@/components/atoms/CustomHeader.vue";
import CustomDisplayProject from "@/components/atoms/CustomDisplayProject.vue";
import { State } from "vuex-class";

@Options({
  components: {
    CustomHeader,
    CustomDisplayProject,
  },
})
export default class ProjectDetailTab extends Vue {
  @State((state) => state.employeeData) employeeData;

  showDrop = false;
  projectName = "";
  frontEnd = "";
  backEnd = "";
  design = "";
  rdbms = "";
  tools = "";
  summary = "";
  roles = "";
  startDate = "";
  endDate = "";
  teamSize = "";

  errMsg = {
    errProjectName: "",
    errFrontEnd: "",
    errBackEnd: "",
    errDesign: "",
    errRdbms: "",
    errTools: "",
    errStartDate: "",
    errEndDate: "",
    errTeamSize: "",
    errSummary: "",
    errRoles: "",
  };

  setDropdown(): void {
    this.showDrop = !this.showDrop;
  }
  addProject(): void {
    if (
      this.projectName === "" ||
      this.frontEnd === "" ||
      this.backEnd === "" ||
      this.design === "" ||
      this.rdbms === "" ||
      this.tools === "" ||
      this.summary === "" ||
      this.roles === "" ||
      this.startDate === "" ||
      this.endDate === "" ||
      this.teamSize === ""
    ) {
      this.showDrop = true;
      this.validateProjectName();
      this.validateFrontEnd();
      this.validateBackEnd();
      this.validateDesign();
      this.validateRBMS();
      this.validateTools();
      this.validateStartDate();
      this.validateEndDate();
      this.validateEndDate();
      this.validateTeamSize();
      this.validateRoles();
      this.validateSummary();
    } else {
      let techArray: Array<{ type: string; items: string }> = [
        {
          type: "Front End Technologies",
          items: this.frontEnd,
        },
        {
          type: "Back End Technologies",
          items: this.backEnd,
        },
        {
          type: "Design Patterns Used",
          items: this.design,
        },
        {
          type: "Tools Used",
          items: this.design,
        },
      ];
      this.employeeData.projectDetails.push({
        name: this.projectName,
        technology: techArray,
        summary: this.summary,
        roles: this.roles,
        projectStart: this.getDate(this.startDate),
        projectEnd: this.getDate(this.endDate),
        teamSize: this.teamSize,
      });
      this.projectName = "";
      this.frontEnd = "";
      this.backEnd = "";
      this.design = "";
      this.rdbms = "";
      this.tools = "";
      this.summary = "";
      this.roles = "";
      this.startDate = "";
      this.endDate = "";
      this.teamSize = "";
    }
  }

  getDate(date: string): string {
    const monthNames = [
      "January",
      "February",
      "March",
      "April",
      "May",
      "June",
      "July",
      "August",
      "September",
      "October",
      "November",
      "December",
    ];
    const month = Number(date.split("-").splice(-1)[0]) - 1;
    const year = date.split("-").splice(0, 1);
    const newMonth = monthNames[month];
    const newDate = newMonth + ", " + year;
    return newDate;
  }
  validateProjectName(): void {
    if (this.projectName.length > 0) {
      this.errMsg.errProjectName = "";
    } else {
      this.errMsg.errProjectName = "Project Name is required*";
    }
  }
  validateFrontEnd(): void {
    if (this.frontEnd.length > 0) {
      this.errMsg.errFrontEnd = "";
    } else {
      this.errMsg.errFrontEnd = "Front end technology is required*";
    }
  }
  validateBackEnd(): void {
    if (this.backEnd.length > 0) {
      this.errMsg.errBackEnd = "";
    } else {
      this.errMsg.errBackEnd = "Back end technology is required*";
    }
  }
  validateDesign(): void {
    if (this.design.length > 0) {
      this.errMsg.errDesign = "";
    } else {
      this.errMsg.errDesign = "Design is required*";
    }
  }
  validateRBMS(): void {
    if (this.rdbms.length > 0) {
      this.errMsg.errRdbms = "";
    } else {
      this.errMsg.errRdbms = "RDBMS application is required*";
    }
  }
  validateTools(): void {
    if (this.tools.length > 0) {
      this.errMsg.errTools = "";
    } else {
      this.errMsg.errTools = "Tools is required*";
    }
  }
  validateStartDate(): void {
    if (
      this.startDate !== "" ||
      this.errMsg.errStartDate !== undefined ||
      !this.startDate
    ) {
      this.errMsg.errStartDate = "";
    } else {
      this.errMsg.errStartDate = "Start Date is required*";
    }
  }
  validateEndDate(): void {
    if (
      this.endDate !== "" ||
      this.errMsg.errStartDate !== undefined ||
      !this.endDate
    ) {
      this.errMsg.errEndDate = "";
    } else {
      this.errMsg.errEndDate = "End Date is required*";
    }
  }
  validateSummary(): void {
    if (this.summary.length > 0) {
      this.errMsg.errSummary = "";
    } else {
      this.errMsg.errSummary = "Summary is required*";
    }
  }
  validateTeamSize(): void {
    if (this.teamSize.length > 0) {
      this.errMsg.errTeamSize = "";
    } else {
      this.errMsg.errTeamSize = "Team size is required*";
    }
  }
  validateRoles(): void {
    if (this.roles.length > 0) {
      this.errMsg.errRoles = "";
    } else {
      this.errMsg.errRoles = "Role is required*";
    }
  }
}
</script>
<style scoped>
* {
  word-break: break-all;
}
label {
  font-size: 0.75rem;
}
.form-control {
  font-size: 14px !important;
}
small {
  font-size: 0.7rem;
}
.text-small {
  font-size: 0.875rem;
}
.errormsg {
  font-size: 10px;
  color: red;
  display: flex;
}
</style>