<template>
  <div class="text-left mx-2">
    <CustomHeader :headerValue="'Summary'" />
    <hr class="my-6" />
    <div v-for="(ele, index) in summaryList" :key="ele.id">
      <div class="row px-3">
        <input
          class="col-8 form-control mx-1 my-2"
          type="text"
          v-model="summaryList[index]"
        />
        <button
          type="button"
          class="col-2 btn ml-2 text-center px-2"
          @click="deleteList(index)"
        >
          <i class="fas fa-times"></i>
        </button>
      </div>
    </div>
    <hr class="my-6" />
    <CustomAdd
      :addValue="'Summary'"
      :example="'Working as a Developer'"
      :listType="'Summary'"
    />
  </div>
</template>
<script lang="ts">
import { Options, Vue } from "vue-class-component";
import CustomHeader from "@/components/atoms/CustomHeader.vue";
import CustomAdd from "@/components/atoms/CustomAdd.vue";
import CustomDisplayList from "@/components/atoms/CustomDisplayList.vue";
import { State, Action } from "vuex-class";

@Options({
  components: {
    CustomHeader,
    CustomAdd,
    CustomDisplayList,
  },
})
export default class Summary extends Vue {
  @State((state) => state.getInput) getInput;
  @State((state) => state.summaryList) summaryList;
  @Action("updateSummaryItems") updateSummaryItemsAction;

  showDrop = false;

  showDropdown(): void {
    this.showDrop = !this.showDrop;
  }

  deleteList(index: number): void {
    const temp = this.summaryList.filter((item, ind) => {
      return ind !== index;
    });
    this.updateSummaryItemsAction({
      type: "summaryList",
      value: temp,
    });
  }
}
</script>
<style scoped>
* {
  word-break: break-all;
}
.outline {
  outline: none !important;
}
label {
  font-size: 0.75rem;
}
.form-control {
  font-size: 14px !important;
}
small {
  font-size: 0.7rem;
}
</style>