<template>
  <div v-for="tech in employeeData.technologyDetails.skills" :key="tech.type">
    <CustomHeader :headerValue="tech.type" />
    <hr class="my-6" />
    <CustomDisplayList
      :listData="tech.items"
      :listType="'technologyDetails'"
      :techType="tech.type"
    />
    <hr class="my-6" />
    <CustomAdd
      :addValue="tech.type"
      :example="tech.items[0].skillName"
      :listType="'technologyDetails'"
    />
    <hr class="my-6" />
  </div>
</template>
<script lang="ts">
import { Options, Vue } from "vue-class-component";
import CustomHeader from "@/components/atoms/CustomHeader.vue";
import CustomAdd from "@/components/atoms/CustomAdd.vue";
import CustomDisplayList from "@/components/atoms/CustomDisplayList.vue";
import { State } from "vuex-class";

@Options({
  components: {
    CustomHeader,
    CustomAdd,
    CustomDisplayList,
  },
})
export default class TechnicalSkills extends Vue {
  @State((state) => state.showList) showList;
  @State((state) => state.employeeData) employeeData;
}
</script>
<style scoped>
* {
  word-break: break-all;
}
label {
  font-size: 0.75rem;
}
.form-control {
  font-size: 14px !important;
}
small {
  font-size: 0.7rem;
}
</style>